<div class="bg-light rounded-3 py-4 px-md-4 mb-3">
  <div class="steps pt-4 pb-1">
    <div class="step active">
      <div class="step-progress"><span class="step-progress-start"></span><span
        class="step-progress-end"></span><span class="step-number">1</span></div>
      <div class="step-label">User Info</div>
    </div>
    <div class="step">
      <div class="step-progress"><span class="step-progress-start"></span><span
        class="step-progress-end"></span><span class="step-number">2</span></div>
      <div class="step-label">Business Info</div>
    </div>
    <div class="step">
      <div class="step-progress"><span class="step-progress-start"></span><span
        class="step-progress-end"></span><span class="step-number">3</span></div>
      <div class="step-label">Ownership</div>
    </div>
    <div class="step">
      <div class="step-progress"><span class="step-progress-start"></span><span
        class="step-progress-end"></span><span class="step-number">4</span></div>
      <div class="step-label">Service & Socials</div>
    </div>
    <div class="step">
      <div class="step-progress"><span class="step-progress-start"></span><span
        class="step-progress-end"></span><span class="step-number">5</span></div>
      <div class="step-label">Verification</div>
    </div>
    <div class="step">
      <div class="step-progress"><span class="step-progress-start"></span><span
        class="step-progress-end"></span><span class="step-number">6</span></div>
      <div class="step-label">Confirmation</div>
    </div>
  </div>
</div>
<!-- Step 1: User Info-->
<div class="bg-light rounded-3 p-4 p-md-5 mb-3">

  <h2 class="h4 mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i>User info</h2>
  <div class="row">
    <div class="col-sm-6 mb-4">
      <label class="form-label" for="biz-un">User name <span class='text-danger'>*</span></label>
      <input class="form-control form-control-lg" type="text" id="biz-un" value=""
             placeholder="Enter your user name" required>
    </div>
    <div class="col-sm-6 mb-4">
      <label class="form-label" for="biz-ue">User email <span class='text-danger'>*</span></label>
      <input class="form-control form-control-lg" type="email" id="biz-ue" value=""
             placeholder="Enter your user email" required>
    </div>
    <div class="col-sm-6 mb-4">
      <label class="form-label" for="biz-pass">Password<span class='text-danger'>*</span></label>
      <input class="form-control form-control-lg" type="password" id="biz-pass" value=""
             placeholder="Enter your password" required>
    </div>
    <div class="col-sm-6 mb-4">
      <label class="form-label" for="biz-cpass">Confirm Password <span class='text-danger'>*</span></label>
      <input class="form-control form-control-lg" type="password" id="biz-cpass" value=""
             placeholder="Re-Enter your password">
    </div>

  </div>

</div>
