<div class="d-flex">
  <div class="flex-grow-1">
    <h1 class="h2"><i class="fi-shopping-bag text-primary"></i> Order</h1>
  </div>
  <div class="">
    <div class="input-group">
      <input class="form-control" style="height: 42px" type="text" placeholder="Search....." id="following-shop-search">
      <div class="input-group-text p-0">
        <a class="d-block text-body px-3 py-2" href="#">
          <i class="fi-search mt-n1"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="d-sm-flex align-items-center pb-2 pb-sm-2">
    <div class="mt-md-n3 mb-4 w-100">
      <a class="btn btn-outline-primary btn-lg rounded-pill w-100 d-md-none" href="#account-nav"
         data-bs-toggle="collapse"><i class="fi-align-justify me-2"></i>Account Menu
      </a>
      <div class="row collapse d-md-block justify-content-between border-bottom-md" id="account-nav">

        <!--<ul class="nav nav-pills pt-4 pt-md-2 pb-md-2 w-50" role="tablist">-->
        <!--<li class="nav-item mb-md-0 me-md-2 pe-md-1"><a class="nav-link active" href="#client-following-view"-->
        <!--data-bs-toggle="tab" role="tab"><i-->
        <!--class="fi-building mt-n1 me-2 fs-base"></i>-->
        <!--{{getUser().customerProfile.countPendingOrders}}-->
        <!--Pending Order{{getUser().customerProfile.countPendingOrders>1?'s':''}}-->
        <!--</a></li>-->
        <!--<li class="nav-item mb-md-0 me-md-2 pe-md-1"><a class="nav-link active" href="#client-following-view"-->
        <!--data-bs-toggle="tab" role="tab"><i-->
        <!--class="fi-building mt-n1 me-2 fs-base"></i>-->
        <!--{{getUser().customerProfile.countPendingOrders}}-->
        <!--Pending Order{{getUser().customerProfile.countPendingOrders>1?'s':''}}-->
        <!--</a></li>-->
        <!--</ul>-->
        <ul class="nav nav-tabs nav-fill" role="tablist" style="margin-bottom: 0px">
          <li class="nav-item me-sm-3 mb-3">
            <a
              class="nav-link text-center active"
              href="#pending-order-tab"
              data-bs-toggle="tab"
              role="tab"
              aria-controls="pending-order-tab"
              aria-selected="true"
              style="color: #f48904;font-weight: bold"
              (click)="getCustomerOrders('Pending',fromPDate.value,toPDate.value)"
            >
              Pending
              <!--<span class="badge rounded-pill bg-warning" style="font-weight: bold">{{pendingOrders.length}}</span>-->
            </a>
          </li>
          <li class="nav-item me-sm-3 mb-3">
            <a
              class="nav-link text-center"
              href="#complete-order-tab"
              data-bs-toggle="tab"
              role="tab"
              aria-controls="inprogress-order-tab"
              aria-selected="true"
              style="color: #03ac0e;font-weight: bold"
              (click)="getCustomerOrders('Completed',fromCoDate.value,toCoDate.value)"
            >
              Completed
              <!--<span class="badge rounded-pill bg-success" style="font-weight: bold">{{completedOrders.length}}</span>-->
            </a>
          </li>
          <li class="nav-item me-sm-3 mb-3">
            <a
              class="nav-link text-center"
              href="#cancel-order-tab"
              data-bs-toggle="tab"
              role="tab"
              aria-controls="complete-order-tab"
              aria-selected="true"
              style="color: #ff0d13;font-weight: bold"
              (click)="getCustomerOrders('Canceled',fromCaDate.value,toCaDate.value)"
            >
              Canceled
              <!--<span class="badge rounded-pill bg-danger" style="font-weight: bold">{{canceledOrders.length}}</span>-->
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <!--<div class="row">-->
  <!--<div class="col-12">-->

  <!--</div>-->
  <!--</div>-->

  <!--<div class="col-md-7 d-sm-flex align-items-center pt-4 pt-md-0">-->
  <!--<span class="input-group-text">-->
  <!--<i class="fi-calendar"></i>-->
  <!--</span>-->
  <!--<input class="form-control date-picker date-range" type="text" placeholder="From date"-->
  <!--data-datepicker-options='{"altInput": true, "altFormat": "F j, Y", "dateFormat": "Y-m-d"}'-->
  <!--data-linked-input="#end-date">-->
  <!--<input class="form-control date-picker" type="text" placeholder="To date"-->
  <!--data-datepicker-options='{"altInput": true, "altFormat": "F j, Y", "dateFormat": "Y-m-d"}' id="end-date">-->
  <!--</div>-->
  <!--<div class="col-sm-12 col-md-1">-->
  <!--<button type="button" class="btn btn-light-primary btn-icon shadow-sm">-->
  <!--<i class="fi-search"></i>-->
  <!--</button>-->
  <!--</div>-->

  <div class="tab-content">

    <div class="tab-pane fade show active" id="pending-order-tab" role="tabpanel">
      <div style="display: flex;margin-bottom: 40px;justify-content: center">
        <div style="margin-top: 25px;padding-right: 10px">
          <span class="input-group-text">
            <i class="fi-calendar"></i>
          </span>
        </div>
        <div class="row" style="padding-left: 15px">
          <div class="col-sm-12 col-md-6" style="padding-left: 0px">
            <!--<div style="margin-right: 10px">-->
            <span style="margin-left: 10px">From Date</span>
            <input class="form-control" type="date" [value]="getPreDate()" #fromPDate>
            <!--</div>-->
          </div>
          <div class="col-sm-12 col-md-6" style="padding-left: 0px">
            <!--<div>-->
            <span style="margin-left: 10px">To Date</span>
            <input class="form-control" type="date" [value]="getCurDate()" #toPDate>
            <!--</div>-->
          </div>
        </div>
        <!--<button type="button" class="btn btn-light-primary btn-icon shadow-sm">-->
        <div style="margin-top: 30px">
          <i class="fi-search" style="padding: 0px 10px 0px 20px;font-weight: bold"
             (click)="getCustomerOrders('Pending',fromPDate.value,toPDate.value)"></i>
        </div>
        <!--</button>-->
      </div>
      <app-c-order-view [shopItemOrders]="pendingOrders" [orderIndex]="('p')"></app-c-order-view>
    </div>

    <div class="tab-pane fade show" id="complete-order-tab" role="tabpanel">
      <div style="display: flex;margin-bottom: 40px;justify-content: center">
        <div style="margin-top: 25px;padding-right: 10px">
          <span class="input-group-text">
            <i class="fi-calendar"></i>
          </span>
        </div>
        <div class="row" style="padding-left: 15px">
          <div class="col-sm-12 col-md-6" style="padding-left: 0px">
            <!--<div style="margin-right: 10px">-->
            <span style="margin-left: 10px">From Date</span>
            <input class="form-control" type="date" [value]="getPreDate()" #fromCoDate>
            <!--</div>-->
          </div>
          <div class="col-sm-12 col-md-6" style="padding-left: 0px">
            <!--<div>-->
            <span style="margin-left: 10px">To Date</span>
            <input class="form-control" type="date" [value]="getCurDate()" #toCoDate>
            <!--</div>-->
          </div>
        </div>
        <!--<button type="button" class="btn btn-light-primary btn-icon shadow-sm">-->
        <div style="margin-top: 30px">
          <i class="fi-search" style="padding: 0px 10px 0px 20px;font-weight: bold"
             (click)="getCustomerOrders('Completed',fromCoDate.value,toCoDate.value)"></i>
        </div>
        <!--</button>-->
      </div>
      <app-c-order-view [shopItemOrders]="completedOrders" [orderIndex]="('co')"></app-c-order-view>
    </div>

    <div class="tab-pane fade show" id="cancel-order-tab" role="tabpanel">
      <div style="display: flex;margin-bottom: 40px;justify-content: center">
        <div style="margin-top: 25px;padding-right: 10px">
          <span class="input-group-text">
            <i class="fi-calendar"></i>
          </span>
        </div>
        <div class="row" style="padding-left: 15px">
          <div class="col-sm-12 col-md-6" style="padding-left: 0px">
            <!--<div style="margin-right: 10px">-->
            <span style="margin-left: 10px">From Date</span>
            <input class="form-control" type="date" [value]="getPreDate()" #fromCaDate>
            <!--</div>-->
          </div>
          <div class="col-sm-12 col-md-6" style="padding-left: 0px">
            <!--<div>-->
            <span style="margin-left: 10px">To Date</span>
            <input class="form-control" type="date" [value]="getCurDate()" #toCaDate>
            <!--</div>-->
          </div>
        </div>
        <!--<button type="button" class="btn btn-light-primary btn-icon shadow-sm">-->
        <div style="margin-top: 30px">
          <i class="fi-search" style="padding: 0px 10px 0px 20px;font-weight: bold"
             (click)="getCustomerOrders('Canceled',fromCaDate.value,toCaDate.value)"></i>
        </div>
        <!--</button>-->
      </div>
      <app-c-order-view [shopItemOrders]="canceledOrders" [orderIndex]="('ca')"></app-c-order-view>
    </div>

  </div>

</div>
