<div
  class="
                    d-flex
                    flex-sm-row flex-column
                    align-items-sm-center align-items-stretch
                    justify-content-between
                    pb-4
                    mb-2 mb-md-3
                  "
>
  <div class="d-flex flex-sm-row">
    <button
      class="
                        btn btn-icon btn-outline-primary btn-xs
                        rounded-circle
                        shadow-sm
                      "
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#add-new-category"
      aria-controls="add-new-category"
      aria-expanded="false"
      title="Add new item"
      data-bs-original-title="Add new item"
      aria-label="Add new item"
    >
      <i class="fi-plus"></i>
    </button>
    <h3 class="h4 mb-sm-0 ms-2">
      <!-- <i class="fi-info-circle mt-n1 me-2 lead align-middle text-warning"></i> -->
      Category
    </h3>
  </div>
  <div class="d-flex align-items-center ms-sm-4">
    <label
      class="fs-sm me-2 pe-1 text-nowrap"
      for="review-sorting1"
    ><i class="fi-arrows-sort text-muted mt-n1 me-2"></i>Sort
      by:</label
    >
    <select
      class="form-select form-select-sm"
    >
      <option>Newest</option>
      <option>Oldest</option>
      <option>Popular</option>
      <option>High rating</option>
      <option>Low rating</option>
    </select>
  </div>
</div>
<div class="collapse" id="add-new-category">
  <div class="card card-body">

    <form #baManageFormCategory="ngForm" (ngSubmit)="baManageFormCategory.form.valid && onSubmit()" novalidate>

      <div class="row">
        <div class="col-md-8 mb-3">
          <label class="form-label" for="validationTooltipc1"
          >Title</label
          >
          <a class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-auto help"
             data-bs-toggle="tooltip" title="" data-bs-original-title="Suitable title for describe category"
             aria-label="Suitable title for describe category"><i class="fi-help"></i>
          </a>
          <input
            class="form-control"
            type="text"
            placeholder="Title"
            required
            [(ngModel)]="category.name" #categoryTitle="ngModel" name="categoryTitle"
          />
          <div *ngIf="(categoryTitle.touched || baManageFormCategory.submitted) && categoryTitle.errors?.required"
               class="validErr">
            Title is required
          </div>
          <div class="valid-tooltip">Looks good!</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <label class="form-label"
          >Business type </label
          >
          <a class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-auto help"
             data-bs-toggle="tooltip" title="Select this item belongs to which type of business"
             data-bs-original-title="Select this item belongs to which type of business"
             aria-label="Select this item belongs to which type of business"><i class="fi-help"></i>
          </a>
          <!-- <div class="d-flex flex-column flex-sm-row"> -->
          <ng-select
            [items]="businessCategories"
            bindLabel="name"
            placeholder="Select Business Type"
            dropdownPosition="auto"
            [multiple]="false"
            [searchWhileComposing]="true"
            name="businessProfileCategories"
            #businessProfileCategories="ngModel" required
            (change)="getItems('n')"
            [(ngModel)]="category.businessProfileCategory.businessCategory">
          </ng-select>
          <div
            *ngIf="(businessProfileCategories.touched || baManageFormCategory.submitted) && businessProfileCategories.errors?.required"
            class="validErr">
            Business type is required
          </div>
          <!-- <div class="invalid-tooltip">
            Please fill item quantity
          </div>
          <div class="valid-tooltip">Looks good!</div> -->
          <!-- <button type="button" class="btn btn-light-primary btn-icon shadow-sm">
            <i class="fi-plus"></i>
          </button> -->
          <!-- <button class="btn btn-translucent-primary rounded-pill" type="button">Add</button> -->
          <!-- </div> -->

        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <label class="form-label" for="validationTooltip04"
          >Items</label
          >
          <a class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-auto help"
             data-bs-toggle="tooltip" title="You can add if there any features"
             data-bs-original-title="You can add if there any features"
             aria-label="You can add if there any features"><i class="fi-help"></i>
          </a>
          <!--<a href="#new-feature-edit" data-bs-toggle="modal" data-bs-dismiss="modal"-->
          <!--class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-3 fw-bold"-->
          <!--title="You can create new feature." data-bs-original-title="You can create new feature."-->
          <!--aria-label="You can create new feature." style="padding-left: 20px;padding-top: 4px">Add Item-->
          <!--</a>-->

          <!--<form #baManageFormCategoryItemExs="ngForm"-->
          <!--(ngSubmit)="baManageFormCategoryItemExs.form.valid && addItem('n')"-->
          <!--novalidate>-->

          <div class="d-flex flex-column flex-sm-row">
            <div style="width: 100%">
              <div>
                <ng-select
                  [items]="itemsToAdd"
                  bindLabel="name"
                  placeholder="Select Item"
                  dropdownPosition="auto"
                  [multiple]="true"
                  [searchWhileComposing]="true"
                  name="items"
                  #items="ngModel" required
                  [(ngModel)]="category.items"
                  style="width: 100%">
                </ng-select>
              </div>
              <div *ngIf="(baManageFormCategory.submitted) && category.items.length===0"
                   class="validErr">
                Item is required
              </div>
              <!--<div style="color: blue;padding-left: 10px;padding-top: 5px">-->
              <!--Add new feature-->
              <!--</div>-->
            </div>
            <!-- <div class="invalid-tooltip">
              Please fill item quantity
            </div>
            <div class="valid-tooltip">Looks good!</div> -->
            <!--<button style="margin-left: 10px" type="submit"-->
            <!--class="btn btn-light-primary btn-icon shadow-sm">-->
            <!--<i class="fi-plus"></i>-->
            <!--</button>-->
            <!-- <button class="btn btn-translucent-primary rounded-pill" type="button">Add</button> -->
          </div>
          <!--</form>-->

        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <label class="form-label" for="validationTooltipc2"
          >Description</label
          >
          <a class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-auto help"
             data-bs-toggle="tooltip" title="Small description about your category."
             data-bs-original-title="Small description about your category."
             aria-label="Small description about your category."><i class="fi-help"></i>
          </a>
          <textarea class="form-control" id="validationTooltip05" rows="5" placeholder="Description"
                    [(ngModel)]="category.description" name="categoryDescription"></textarea>
          <div class="invalid-tooltip">
            Please fill item discount
          </div>
          <div class="valid-tooltip">Looks good!</div>
        </div>
      </div>

      <div class="mb-3 py-2">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="invalidCheck"
            required
          />
          <label class="form-check-label" for="invalidCheck"
          >I confirm that the information provided information is accurate and correct.</label
          >
          <div class="invalid-tooltip">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <button class="btn btn-primary btn-md" type="submit">
        Save
      </button>
    </form>
  </div>
</div>

<div class="row" style="margin-top: 30px">
  <div class="col-md-12 mb-3">
    <!--<label class="form-label"-->
    <!--&gt;Business type </label-->
    <!--&gt;-->
    <!--<a class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-auto help"-->
    <!--data-bs-toggle="tooltip" title="Select this item belongs to which type of business"-->
    <!--data-bs-original-title="Select this item belongs to which type of business"-->
    <!--aria-label="Select this item belongs to which type of business"><i class="fi-help"></i>-->
    <!--</a>-->
    <!-- <div class="d-flex flex-column flex-sm-row"> -->
    <ng-select
      [items]="businessCategories"
      bindLabel="name"
      placeholder="Select Business Type"
      dropdownPosition="auto"
      [multiple]="false"
      [searchWhileComposing]="true"
      (change)="getItemCategoriesOrdered();getItems('e')"
      [(ngModel)]="businessProfileCategory">
    </ng-select>
    <!-- <div class="invalid-tooltip">
      Please fill item quantity
    </div>
    <div class="valid-tooltip">Looks good!</div> -->
    <!-- <button type="button" class="btn btn-light-primary btn-icon shadow-sm">
      <i class="fi-plus"></i>
    </button> -->
    <!-- <button class="btn btn-translucent-primary rounded-pill" type="button">Add</button> -->
    <!-- </div> -->

  </div>
</div>

<div class="row g-4 py-1">
  <!-- Accordion basic -->
  <div class="accordion" id="category-list">

    <!-- Accordion item -->
    <div class="accordion-item" *ngFor="let categoryE of categories;let i = index">
      <div class="accordion-header d-flex" id="headingOne">
        <div class="p-2 flex-grow-1 bd-highlight">
          <a class="nav-link">{{categoryE.name}}</a>
        </div>
        <div class="p-2 bd-highlight">
          <a type="button" class="nav-link hover-text-danger">
            <i class="fi-trash"></i>
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <a type="button" class="nav-link hover-text-info" data-bs-toggle="collapse"
             [attr.data-bs-target]="'#categoryEdit' + i" aria-expanded="true" aria-controls="categoryOneEdit"
             value="{{categoryE.itemCategoryId}}">
            <i class="fi-edit"></i>
          </a>
        </div>
        <div class="p-2 bd-highlight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#category' + i"
                  aria-expanded="true" aria-controls="categoryOne" value="{{categoryE.itemCategoryId}}"></button>
        </div>
      </div>
      <div class="accordion-collapse collapse" aria-labelledby="headingEdit" data-bs-parent="#category-list"
           id="categoryEdit{{i}}">
        <div class="card card-body border-none">
          <form #baManageFormCategoryE="ngForm" (ngSubmit)="baManageFormCategoryE.form.valid && onSubmitE(categoryE)" novalidate>

            <div class="row">
              <div class="col-md-8 mb-3">
                <label class="form-label" for="validationTooltipc1"
                >Title</label
                >
                <a class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-auto help"
                   data-bs-toggle="tooltip" title="" data-bs-original-title="Suitable title for describe category"
                   aria-label="Suitable title for describe category"><i class="fi-help"></i>
                </a>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Title"
                  required
                  [(ngModel)]="categoryE.name" #categoryTitleE="ngModel" name="categoryTitle"
                />
                <div
                  *ngIf="(categoryTitleE.touched || baManageFormCategoryE.submitted) && categoryTitleE.errors?.required"
                  class="validErr">
                  Title is required
                </div>
                <div class="valid-tooltip">Looks good!</div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-3">
                <label class="form-label"
                >Business type </label
                >
                <a class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-auto help"
                   data-bs-toggle="tooltip" title="Select this item belongs to which type of business"
                   data-bs-original-title="Select this item belongs to which type of business"
                   aria-label="Select this item belongs to which type of business"><i class="fi-help"></i>
                </a>
                <!-- <div class="d-flex flex-column flex-sm-row"> -->
                <ng-select
                  [items]="businessCategories"
                  bindLabel="name"
                  placeholder="Select Business Type"
                  dropdownPosition="auto"
                  [multiple]="false"
                  [searchWhileComposing]="true"
                  name="businessProfileCategories"
                  #businessProfileCategoriesE="ngModel" required
                  (change)="getItems('e',categoryE)"
                  [(ngModel)]="categoryE.businessProfileCategory.businessCategory">
                </ng-select>
                <div
                  *ngIf="(businessProfileCategoriesE.touched || baManageFormCategoryE.submitted) && businessProfileCategoriesE.errors?.required"
                  class="validErr">
                  Business type is required
                </div>
                <!-- <div class="invalid-tooltip">
                  Please fill item quantity
                </div>
                <div class="valid-tooltip">Looks good!</div> -->
                <!-- <button type="button" class="btn btn-light-primary btn-icon shadow-sm">
                  <i class="fi-plus"></i>
                </button> -->
                <!-- <button class="btn btn-translucent-primary rounded-pill" type="button">Add</button> -->
                <!-- </div> -->

              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-3">
                <label class="form-label" for="validationTooltip04"
                >Items</label
                >
                <a class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-auto help"
                   data-bs-toggle="tooltip" title="You can add if there any features"
                   data-bs-original-title="You can add if there any features"
                   aria-label="You can add if there any features"><i class="fi-help"></i>
                </a>
                <!--<a href="#new-feature-edit" data-bs-toggle="modal" data-bs-dismiss="modal"-->
                <!--class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-3 fw-bold"-->
                <!--title="You can create new feature." data-bs-original-title="You can create new feature."-->
                <!--aria-label="You can create new feature." style="padding-left: 20px;padding-top: 4px">Add Item-->
                <!--</a>-->

                <!--<form #baManageFormCategoryItemExs="ngForm"-->
                <!--(ngSubmit)="baManageFormCategoryItemExs.form.valid && addItem('n')"-->
                <!--novalidate>-->

                <div class="d-flex flex-column flex-sm-row">
                  <div style="width: 100%">
                    <div>
                      <ng-select
                        [items]="itemsToAddE"
                        bindLabel="name"
                        placeholder="Select Item"
                        dropdownPosition="auto"
                        [multiple]="true"
                        [searchWhileComposing]="true"
                        name="items"
                        #itemsE="ngModel" required
                        [(ngModel)]="categoryE.items"
                        style="width: 100%">
                      </ng-select>
                    </div>
                    <div *ngIf="(baManageFormCategoryE.submitted) && categoryE.items.length===0"
                         class="validErr">
                      Item is required
                    </div>
                    <!--<div style="color: blue;padding-left: 10px;padding-top: 5px">-->
                    <!--Add new feature-->
                    <!--</div>-->
                  </div>
                  <!-- <div class="invalid-tooltip">
                    Please fill item quantity
                  </div>
                  <div class="valid-tooltip">Looks good!</div> -->
                  <!--<button style="margin-left: 10px" type="submit"-->
                  <!--class="btn btn-light-primary btn-icon shadow-sm">-->
                  <!--<i class="fi-plus"></i>-->
                  <!--</button>-->
                  <!-- <button class="btn btn-translucent-primary rounded-pill" type="button">Add</button> -->
                </div>
                <!--</form>-->

              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-3">
                <label class="form-label" for="validationTooltipc2"
                >Description</label
                >
                <a class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-auto help"
                   data-bs-toggle="tooltip" title="Small description about your category."
                   data-bs-original-title="Small description about your category."
                   aria-label="Small description about your category."><i class="fi-help"></i>
                </a>
                <textarea class="form-control" id="validationTooltip05" rows="5" placeholder="Description"
                          [(ngModel)]="categoryE.description" name="categoryDescription"></textarea>
                <div class="invalid-tooltip">
                  Please fill item discount
                </div>
                <div class="valid-tooltip">Looks good!</div>
              </div>
            </div>

            <div class="mb-3 py-2">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="invalidCheck"
                  required
                  name="isUpdateCategory"
                  [(ngModel)]="categoryE.isUpdateCategory"
                />
                <label class="form-check-label" for="invalidCheck"
                >I confirm that the information provided information is accurate and correct.</label
                >
                <div class="invalid-tooltip">
                  You must agree before submitting.
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-md" type="submit" [disabled]="!categoryE.isUpdateCategory">
              Save
            </button>
          </form>
        </div>
      </div>
      <div class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#category-list"
           id="category{{i}}">
        <div class="accordion-body">
          <div class="row g-4 py-1">
            <!-- Item-->
            <div class="col-sm-6 col-xl-4" *ngFor="let item of categoryE.items">
              <div class="card shadow-sm card-hover border-0 h-100">
                <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay"></a>
                  <div class="position-absolute start-0 top-0 pt-3 ps-3"><span
                    class="d-table badge bg-info">{{categoryE.name}}</span>
                  </div>
                  <div class="content-overlay end-0 top-0 pt-3 pe-3">
                    <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
                            data-bs-toggle="tooltip" data-bs-placement="left" title="remove item"><i
                      class="fi-trash"></i></button>
                  </div>
                  <!--<div class="tns-carousel-inner"><img src="../../../../assets/img/catalog/06.jpg" alt="Image"><img-->
                  <!--src="../../../../assets/img/catalog/06.jpg" alt="Image"></div>-->
                  <img *ngIf="item.itemImgs!==undefined" style="height: 180px;width: 280px" [src]="getImageSrc(item.itemImgs[0])" alt="Image">
                </div>
                <div class="card-body position-relative pb-3">

                  <!-- <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary fw-bold">Not Available</h4> -->
                  <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" href="#" data-bs-toggle="offcanvas"
                                                 data-bs-target="#item-viewer">{{item.itemTitle}}</a></h3>
                  <!-- <div class="d-flex align-items-center text-nowrap">
                    <p class="mb-2 fs-sm text-muted">Quantity </p>
                    <p class="mb-2 fs-sm text-primary fw-bold mx-2"> 250g</p>
                  </div> -->
                  <div class="row cols-sm-2 row-cols-md-12">
                    <div class="col">
                      <p class="mb-2 fs-sm text-muted">Quantity </p>
                      <p class="mb-2 fs-sm text-warning fw-bold mx-2">{{item.itemQty}}</p>
                    </div>
                    <div class="col">
                      <p class="mb-2 fs-sm text-muted">Discount </p>
                      <p class="mb-2 fs-sm text-primary fw-bold">20%</p>
                    </div>
                  </div>
                  <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>LKR
                    {{item.itemPrice}}
                  </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" [checked]="item.itemAvailable"
                           (click)="setItemAvailable(item)">
                    <label *ngIf="!item.itemAvailable"
                           class="form-check-label fs-xs fw-normal text-uppercase text-primary fw-bold">
                      Not Available</label>
                    <label *ngIf="item.itemAvailable"
                           class="form-check-label fs-xs fw-normal text-uppercase text-green fw-bold">
                      Available</label>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
