<div class="d-flex">
  <div class="flex">
    <h1 class="h2"><i class="fi-user text-primary"></i> Profile</h1>
  </div>
</div>
<div class="alert alert-info mb-4" role="alert">
  <div class="d-flex">
    <i class="fi-alert-circle me-2 me-sm-3"></i>
    <p class="fs-sm mb-1">
      You can edit your business profile and change password using this section.
    </p>
  </div>
</div>
<div class="mb-2 pt-1">Your profile is 50% completed</div>
<div class="progress mb-4" style="height: .25rem;">
  <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
       aria-valuemax="100"></div>
</div>
<hr>
<!-- User info-->
<form #spProfileForm="ngForm" (ngSubmit)="spProfileForm.form.valid && onSubmit()" novalidate>

  <div class="row pt-4 mt-3">
    <div class="col-lg-3">
      <h2 class="h4">User</h2>
    </div>
    <div class="col-lg-9">
      <div class="border rounded-3 p-3" id="auth-info">
        <div class="row pb-2">
          <div class="col-lg-3 col-sm-4 mb-4">
            <!--<input class="file-uploader bg-secondary" type="file" accept="image/png, image/jpeg"-->
            <!--data-label-idle="&lt;i class=&quot;d-inline-block fi-camera-plus fs-2 text-muted mb-2&quot;&gt;&lt;/i&gt;&lt;br&gt;&lt;span class=&quot;fw-bold&quot;&gt;Change picture&lt;/span&gt;"-->
            <!--data-style-panel-layout="compact" data-image-preview-height="160" data-image-crop-aspect-ratio="1:1"-->
            <!--data-image-resize-target-width="200" data-image-resize-target-height="200">-->
            <file-pond
              class="file-uploader-grid pro-img"
              #imageInput
              [options]="pondOptions"
              name="imageInput"
              (onaddfile)="pondHandleAddFile($event)"
              (onremovefile)="pondHandlerRemoveFile($event)">
            </file-pond>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-6" *ngFor='let dbayUserImg of businessProfile.dbayUser.dbayUserImgs;let j = index'>
            <div style="position: relative" class="delImgT">
              <img [src]="getImageSrc(dbayUserImg)" style="margin: 3px;height: 200px;width: 300px">
              <span class="delImg">
                    <i class="fi-trash"
                       style="color: red;padding: 5px;background-color: white;border-radius: 10px;cursor: pointer;font-size: 25px;"
                       (click)="businessProfile.dbayUser.dbayUserImgs.splice(j,1)"></i>
                  </span>
            </div>
          </div>
        </div>
        <!-- User name-->
        <div class="border-bottom pb-3 mb-3">
          <div class="d-flex align-items-center justify-content-between">
            <div class="pe-2">
              <label class="form-label fw-bold">User Name
                <a href="#" class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-auto help"
                   data-bs-toggle="tooltip" title="You can change User name."
                   data-bs-original-title="You can change User name." aria-label="You can change User name."><i
                  class="fi-help"></i>
                </a>
              </label>
              <div id="pro-username-value">{{businessProfile.dbayUser.username}}</div>
            </div>
            <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0"
                                                                        href="#pro-username-collapse"
                                                                        data-bs-toggle="collapse"><i
              class="fi-edit"></i></a>
            </div>
          </div>
          <div class="collapse" id="pro-username-collapse" data-bs-parent="#auth-info">
            <input class="form-control mt-3" type="text" data-bs-binded-element="#pro-username-value"
                   data-bs-unset-value="Not specified" [(ngModel)]="businessProfile.dbayUser.username"
                   #username="ngModel"
                   name="username" required>
          </div>
          <div *ngIf="(username.touched || spProfileForm.submitted) && username.errors?.required"
               class="validErr">
            Username is required
          </div>
        </div>
        <!-- Password-->
        <div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="pe-2">
              <label class="form-label fw-bold">Password
                <a class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-auto help"
                   data-bs-toggle="tooltip" title="You can change Password."
                   data-bs-original-title="You can change Password." aria-label="You can change Password."><i
                  class="fi-help"></i>
                </a>
              </label>
              <div>********</div>
            </div>
            <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#password-collapse"
                                                                        data-bs-toggle="collapse"><i
              class="fi-edit"></i></a>
            </div>
          </div>
          <div class="collapse" id="password-collapse" data-bs-parent="#auth-info">
            <div class="row gx-3 align-items-center my-3">
              <label class="col-sm-4 col-md-3 col-form-label" for="account-password-current">Current password:</label>
              <div class="col-sm-8 col-md-9">
                <div class="password-toggle">
                  <input class="form-control" [type]="passwordView.curView?'text':'password'"
                         id="account-password-current"
                         placeholder="Enter current password" [required]="businessProfile.dbayUser.password!==''"
                         [(ngModel)]="businessProfile.dbayUser.cPassword" #curPassword="ngModel" name="curPassword">
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox">
                    <span class="password-toggle-indicator" id="password-toggle-indicator1"></span>
                  </label>
                </div>
                <div *ngIf="(curPassword.dirty || spProfileForm.submitted) && curPassword.errors?.required"
                     class="validErr">
                  Current password is required
                </div>
              </div>
            </div>
            <div class="row gx-3 align-items-center my-3">
              <label class="col-sm-4 col-md-3 col-form-label" for="account-password-new">New password:</label>
              <div class="col-sm-8 col-md-9">
                <div class="password-toggle">
                  <input class="form-control" [type]="passwordView.newView?'text':'password'" id="account-password-new"
                         placeholder="Enter new password"
                         [(ngModel)]="businessProfile.dbayUser.password" #newPassword="ngModel" name="password"
                         appConfirmPassword [password]="businessProfile.dbayUser.passwordC">
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox">
                    <span class="password-toggle-indicator" id="password-toggle-indicator2"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row gx-3 align-items-center">
              <label class="col-sm-4 col-md-3 col-form-label" for="account-password-confirm">Confirm new
                password:</label>
              <div class="col-sm-8 col-md-9">
                <div class="password-toggle">
                  <input class="form-control" type="password" id="account-password-confirm"
                         placeholder="Confirm new password"
                         [(ngModel)]="businessProfile.dbayUser.passwordC" #confNewPassword="ngModel" name="passwordC"
                         appConfirmPassword [password]="businessProfile.dbayUser.password">
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox">
                    <span class="password-toggle-indicator" id="password-toggle-indicator3"></span>
                  </label>
                </div>
                <div
                  *ngIf="(confNewPassword.dirty || newPassword.dirty || spProfileForm.submitted) && (confNewPassword.errors?.confirmPassword || newPassword.errors?.confirmPassword)"
                  class="validErr">
                  Password does not match
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Business details-->
  <div class="row pt-4 mt-2">
    <div class="col-lg-3">
      <h2 class="h4">Business details</h2>
    </div>
    <div class="col-lg-9">
      <div class="border rounded-3 p-3" id="business-details">
        <!-- business name-->
        <div class="border-bottom pb-3 mb-3">
          <div class="d-flex align-items-center justify-content-between">
            <div class="pe-2">
              <label class="form-label fw-bold">Shop name</label>
              <div id="fn-value">{{businessProfile.businessName}}</div>
            </div>
            <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#sn-collapse"
                                                                        data-bs-toggle="collapse"><i
              class="fi-edit"></i></a>
            </div>
          </div>
          <div class="collapse" id="sn-collapse" data-bs-parent="#shop-details">
            <input class="form-control mt-3" type="text" data-bs-binded-element="#sn-value"
                   data-bs-unset-value="Not specified" required
                   [(ngModel)]="businessProfile.businessName" #businessName="ngModel" name="businessName">
          </div>
          <div *ngIf="(businessName.touched || spProfileForm.submitted) && businessName.errors?.required"
               class="validErr">
            Shop name is required
          </div>
        </div>
        <!-- business address-->
        <div class="border-bottom pb-3 mb-3">
          <div class="d-flex align-items-center justify-content-between">
            <div class="pe-2">
              <label class="form-label fw-bold">Address</label>
              <div id="address-value">{{businessProfile.businessAddress}}</div>
            </div>
            <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#address-collapse"
                                                                        data-bs-toggle="collapse"><i
              class="fi-edit"></i></a>
            </div>
          </div>
          <div class="collapse" id="address-collapse" data-bs-parent="#shop-details">
            <input class="form-control mt-3" type="text" data-bs-binded-element="#address-value"
                   data-bs-unset-value="Not specified" placeholder="Enter address" required
                   [(ngModel)]="businessProfile.businessAddress" name="businessAddress" #businessAddress="ngModel">
          </div>
          <div *ngIf="(businessAddress.touched || spProfileForm.submitted) && businessAddress.errors?.required"
               class="validErr">
            Business Address is required
          </div>
        </div>
        <!--Business Registration number-->
        <div class="border-bottom pb-3 mb-3">
          <div class="d-flex align-items-center justify-content-between">
            <div class="pe-2">
              <label class="form-label fw-bold">Business registration code</label>
              <div id="brcode-value">{{businessProfile.businessRegistrationCode}}</div>
            </div>
            <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#brcode-collapse"
                                                                        data-bs-toggle="collapse"><i
              class="fi-edit"></i></a>
            </div>
          </div>
          <div class="collapse" id="brcode-collapse" data-bs-parent="#shop-details">
            <input class="form-control mt-3" type="text" data-bs-binded-element="#brcode-value"
                   data-bs-unset-value="Not specified" [(ngModel)]="businessProfile.businessRegistrationCode"
                   name="businessRegistrationCode" #businessRegistrationCode="ngModel" required>
          </div>
          <div
            *ngIf="(businessRegistrationCode.touched || spProfileForm.submitted) && businessRegistrationCode.errors?.required"
            class="validErr">
            Business RegistrationCode is required
          </div>
        </div>
        <!-- Country-->
        <div class="border-bottom pb-3 mb-3">
          <div class="d-flex align-items-center justify-content-between">
            <div class="pe-2">
              <label class="form-label fw-bold">Country
                <a class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-auto help"
                   data-bs-toggle="tooltip" title="You can change Country."
                   data-bs-original-title="You can change Country." aria-label="You can change Country."><i
                  class="fi-help"></i>
                </a>
              </label>
              <div id="business-country-value">{{businessProfile.town.district.country.name}}</div>
            </div>
            <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0"
                                                                        href="#business-country-collapse"
                                                                        data-bs-toggle="collapse"><i
              class="fi-edit"></i></a>
            </div>
          </div>
          <div class="collapse" id="business-country-collapse" data-bs-parent="#business-details">
            <select class="form-select mt-3" data-bs-binded-element="#country-value" required
                    [(ngModel)]="businessProfile.town.district.country.countryId" #country="ngModel" name="country"
                    (change)="getDistricts($event.target.value)">
              <option value="" disabled selected>Choose country</option>
              <option *ngFor="let country of countries" [value]="country.countryId">{{country.name}}</option>
            </select>
            <div *ngIf="(country.touched || spProfileForm.submitted) && country.errors?.required" class="validErr">
              Country is required
            </div>
          </div>
        </div>
        <!-- District-->
        <div class="border-bottom pb-3 mb-3">
          <div class="d-flex align-items-center justify-content-between">
            <div class="pe-2">
              <label class="form-label fw-bold">District
                <a class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-auto help"
                   data-bs-toggle="tooltip" title="You can change the District in which your business is located."
                   data-bs-original-title="You can change the District in which your business is located."
                   aria-label="You can change the District in which your business is located."><i class="fi-help"></i>
                </a>
              </label>
              <div id="business-district-value">{{businessProfile.town.district.name}}</div>
            </div>
            <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0"
                                                                        href="#business-district-collapse"
                                                                        data-bs-toggle="collapse"><i
              class="fi-edit"></i></a>
            </div>
          </div>
          <div class="collapse" id="business-district-collapse" data-bs-parent="#business-details">
            <select class="form-select mt-3" data-bs-binded-element="#district-value" required
                    [(ngModel)]="businessProfile.town.district.districtId" #district="ngModel" name="district"
                    (change)="getTowns($event.target.value)">
              <option value="" disabled selected>Choose district</option>
              <option *ngFor="let district of districts" [value]="district.districtId">{{district.name}}</option>
            </select>
            <div *ngIf="(district.touched || spProfileForm.submitted) && district.errors?.required" class="validErr">
              District is required
            </div>
          </div>
        </div>
        <!-- Town-->
        <div class="border-bottom pb-3 mb-3">
          <div class="d-flex align-items-center justify-content-between">
            <div class="pe-2">
              <label class="form-label fw-bold">Town
                <a class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-auto help"
                   data-bs-toggle="tooltip" title="You can change the Town in which your business is located."
                   data-bs-original-title="You can change the Town in which your business is located."
                   aria-label="You can change the Town in which your business is located."><i class="fi-help"></i>
                </a>
              </label>
              <div id="business-town-value">{{businessProfile.town.name}}</div>
            </div>
            <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0"
                                                                        href="#business-town-collapse"
                                                                        data-bs-toggle="collapse"><i
              class="fi-edit"></i></a>
            </div>
          </div>
          <div class="collapse" id="business-town-collapse" data-bs-parent="#business-details">
            <select class="form-select mt-3" data-bs-binded-element="#business-town-value" required
                    [(ngModel)]="businessProfile.town.townId" #townId="ngModel" name="townId">
              <option value="" disabled selected>Choose town</option>
              <option *ngFor="let town of towns" [value]="town.townId">{{town.name}}</option>
            </select>
            <div *ngIf="(townId.touched || spProfileForm.submitted) && townId.errors?.required" class="validErr">
              Town is required
            </div>
          </div>
        </div>
        <!-- Contacts-->
        <div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="pe-2">
              <label class="form-label fw-bold">Contact Details
                <a class="btn btn-icon btn-light btn-xs text-primary content-overlay mb-2 ms-auto help"
                   data-bs-toggle="tooltip" title="You can change the contact details."
                   data-bs-original-title="You can change the contact details."
                   aria-label="You can change the contact details."><i class="fi-help"></i>
                </a>
              </label>
              <ul class="list-unstyled mb-0">
                <li id="business-email-value">{{businessProfile.businessEmail}}</li>
                <li id="business-contact-number-value">
                  {{businessProfile.contactNumber1!=='' ? businessProfile.contactNumber1:'Not specified'}}
                </li>
                <li id="business-contact-number2-value">
                  {{businessProfile.contactNumber2!=='' ? businessProfile.contactNumber2:'Not specified'}}
                </li>
                <li id="business-contact-number3-value">
                  {{businessProfile.contactNumber3!=='' ? businessProfile.contactNumber3:'Not specified'}}
                </li>
              </ul>
            </div>
            <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0"
                                                                        href="#business-contacts-collapse"
                                                                        data-bs-toggle="collapse"><i
              class="fi-edit"></i></a>
            </div>
          </div>
          <div class="collapse mt-3" id="business-contacts-collapse" data-bs-parent="#business-details">
            <div class="d-flex align-items-center mb-3">
              <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i
                class="fi-mail text-body"></i></div>
              <div style="width: 100%">
                <div>
                  <input class="form-control" type="text" data-bs-binded-element="#business-email-value"
                         placeholder="Your Business E-mail" [(ngModel)]="businessProfile.businessEmail"
                         name="businessEmail"
                         #businessEmail="ngModel" required>
                </div>
                <div *ngIf="(businessEmail.touched || spProfileForm.submitted) && businessEmail.errors?.required"
                     class="validErr">
                  Business Email is required
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i
                class="fi-phone text-body"></i></div>
              <div style="width: 100%">
                <div>
                  <input class="form-control" type="text" data-bs-binded-element="#business-contact-number-value"
                         placeholder="Your Business Contact Number" [(ngModel)]="businessProfile.contactNumber1"
                         name="contactNumber1"
                         #contactNumber1="ngModel" required>
                </div>
                <div *ngIf="(contactNumber1.touched || spProfileForm.submitted) && contactNumber1.errors?.required"
                     class="validErr">
                  Contact Number 1 is required
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i
                class="fi-phone text-body"></i></div>
              <div style="width: 100%">
                <div>
                  <input class="form-control" type="text" data-bs-binded-element="#business-contact-number2-value"
                         placeholder="Your Business Contact Number" [(ngModel)]="businessProfile.contactNumber2"
                         name="contactNumber2"
                         #contactNumber2="ngModel">
                </div>
                <!--<div *ngIf="(contactNumber2.touched || spProfileForm.submitted) && contactNumber2.errors?.required"-->
                <!--class="validErr">-->
                <!--Contact Number 2 is required-->
                <!--</div>-->
              </div>
            </div>
            <div class="collapse" id="showMoreContacts">
              <div class="d-flex align-items-center mb-3">
                <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i
                  class="fi-phone text-body"></i></div>
                <div style="width: 100%">
                  <div>
                    <input class="form-control" type="text" data-bs-binded-element="#business-contact-number3-value"
                           placeholder="Your Business Contact Number" [(ngModel)]="businessProfile.contactNumber3"
                           name="contactNumber3"
                           #contactNumber3="ngModel">
                  </div>
                  <!--<div *ngIf="(contactNumber3.touched || spProfileForm.submitted) && contactNumber3.errors?.required"-->
                  <!--class="validErr">-->
                  <!--Contact Number 3 is required-->
                  <!--</div>-->
                </div>
              </div>
            </div>
            <a class="collapse-label collapsed d-inline-block fs-sm fw-bold text-decoration-none pt-2 pb-3"
               href="#showMoreContacts" data-bs-toggle="collapse" data-bs-label-collapsed="Show more"
               data-bs-label-expanded="Show less" role="button" aria-expanded="false"
               aria-controls="showMoreContacts"><i
              class="fi-arrow-down me-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Ownership details-->
  <div class="row pt-4 mt-2">
    <div class="col-lg-3">
      <h2 class="h4">Ownership</h2>
    </div>
    <div class="col-lg-9">
      <div class="border rounded-3 p-3" id="ownership-details">
        <!-- Business owner name-->
        <div class="border-bottom pb-3 mb-3">
          <div class="d-flex align-items-center justify-content-between">
            <div class="pe-2">
              <label class="form-label fw-bold">Business Owner</label>
              <div id="ownername-value">{{businessProfile.businessOwner}}</div>
            </div>
            <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#ownername-collapse"
                                                                        data-bs-toggle="collapse"><i
              class="fi-edit"></i></a>
            </div>
          </div>
          <div class="collapse" id="ownername-collapse" data-bs-parent="#shop-details">
            <input class="form-control mt-3" type="text" data-bs-binded-element="#ownername-value"
                   data-bs-unset-value="Not specified" [(ngModel)]="businessProfile.businessOwner" name="businessOwner"
                   #businessOwner="ngModel" required>
          </div>
          <div
            *ngIf="(businessOwner.touched || spProfileForm.submitted) && businessOwner.errors?.required"
            class="validErr">
            Business Owner is required
          </div>
        </div>
        <!--Business owner nic-->
        <div class="">
          <div class="d-flex align-items-center justify-content-between">
            <div class="pe-2">
              <label class="form-label fw-bold">Business Owner NIC</label>
              <div id="ownernic-value">{{businessProfile.businessOwnerNic}}</div>
            </div>
            <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#ownernic-collapse"
                                                                        data-bs-toggle="collapse"><i
              class="fi-edit"></i></a>
            </div>
          </div>
          <div class="collapse" id="ownernic-collapse" data-bs-parent="#shop-details">
            <input class="form-control mt-3" type="text" data-bs-binded-element="#ownernic-value"
                   data-bs-unset-value="Not specified" [(ngModel)]="businessProfile.businessOwnerNic"
                   name="businessOwnerNic" #businessOwnerNic="ngModel" required>
          </div>
          <div
            *ngIf="(businessOwnerNic.touched || spProfileForm.submitted) && businessOwnerNic.errors?.required"
            class="validErr">
            Business Owner NIC is required
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Business Type & Service Area-->
  <div class="row pt-4 mt-2">
    <div class="col-lg-3">
      <h2 class="h4">Business Type & Service Area</h2>
    </div>
    <div class="col-lg-9">
      <div class="border rounded-3 p-3" id="businesstype-servicearea-details">
        <!-- Business type-->
        <div class="border-bottom pb-3 mb-3">
          <div class="d-flex align-items-center justify-content-between">
            <div class="pe-2">
              <label class="form-label fw-bold">Shop type</label>
              <!-- <div id="type-value">shop type</div> -->
              <div class="text-muted fw-normal" *ngFor="let businessCate of businessProfile.businessProfileCategories">
                {{businessCate.name}}
              </div>
              <div class="text-muted fw-normal" *ngIf="businessProfile.businessProfileCategories.length===0">
                Not specified
              </div>
            </div>
            <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#type-collapse"
                                                                        data-bs-toggle="collapse"><i
              class="fi-edit"></i></a>
            </div>
          </div>
          <div class="collapse" id="type-collapse" data-bs-parent="#account-settings">
            <ng-select
              [items]="businessCategories"
              bindLabel="name"
              placeholder="Select Business Types"
              dropdownPosition="auto"
              [multiple]="true"
              [searchWhileComposing]="true"
              name="businessProfileCategories"
              #businessProfileCategories="ngModel" required
              [(ngModel)]="businessProfile.businessProfileCategories">
            </ng-select>
            <div
              *ngIf="(businessProfileCategories.touched || spProfileForm.submitted) && businessProfileCategories.errors?.required"
              class="validErr">
              Shop type is required
            </div>
            <!--<select class="form-select mt-3" id="shop-type-select" multiple name="stypes[]"-->
            <!--data-bs-binded-element="#type-value">-->
            <!--<option value="Juicebar">Juice Bar</option>-->
            <!--<option value="Cake Baker">Cake Baker</option>-->
            <!--<option value="Bakery">Bakery</option>-->
            <!--<option value="FoodShop">Food Shop</option>-->
            <!--</select>-->
          </div>
        </div>
        <!--Service area-->
        <div class="">
          <div class="d-flex align-items-center justify-content-between">
            <div class="pe-2">
              <label class="form-label fw-bold">Service Area
                <div class="text-muted fw-normal" *ngFor="let businessArea of businessProfile.businessAreas">
                  {{businessArea.name}}
                </div>
                <div class="text-muted fw-normal" *ngIf="businessProfile.businessAreas.length===0">
                  Not specified
                </div>
              </label>
              <!-- <div id="ba-value">shop type</div> -->
            </div>
            <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#ba-collapse"
                                                                        data-bs-toggle="collapse"><i
              class="fi-edit"></i></a>
            </div>
          </div>
          <div class="collapse" id="ba-collapse" data-bs-parent="#account-settings">
            <ng-select
              [items]="businessAreas"
              bindLabel="name"
              placeholder="Select Service Areas"
              dropdownPosition="auto"
              [multiple]="true"
              [searchWhileComposing]="true"
              name="businessSAreas"
              #businessSAreas="ngModel" required
              [(ngModel)]="businessProfile.businessAreas">
            </ng-select>
            <div *ngIf="(businessSAreas.touched || spProfileForm.submitted) && businessSAreas.errors?.required"
                 class="validErr">
              Business area is required
            </div>
            <!--<select class="form-select mt-3" multiple name="areas[]" id="baselect" data-bs-binded-element="#ba-value">-->
            <!--<option value="Galle-Galle">Galle-Galle</option>-->
            <!--<option value="Galle-Matara">Galle-Matara</option>-->
            <!--<option value="Galle-Ambalangoda">Galle-Ambalangoda</option>-->
            <!--</select>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Socials-->
  <div class="row pt-4 mt-2">
    <div class="col-lg-3">
      <h2 class="h4">Social media</h2>
    </div>
    <div class="col-lg-9">
      <div class="border rounded-3 p-3" id="socialmedia-details">
        <div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="pe-2">
              <label class="form-label fw-bold">Socials</label>
              <ul class="list-unstyled mb-0">
                <li *ngIf="notSpecifiedSocials()">Not Specified</li>
                <li id="facebook-value">{{businessProfile.socialFb}}</li>
                <li id="linkedin-value">{{businessProfile.socialLinkedIn}}</li>
                <li id="twitter-value">{{businessProfile.socialTwitter}}</li>
                <li id="instagram-value">{{businessProfile.socialInsta}}</li>
                <li id="behance-value"></li>
              </ul>
            </div>
            <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#socials-collapse"
                                                                        data-bs-toggle="collapse"><i
              class="fi-edit"></i></a>
            </div>
          </div>
          <div class="collapse mt-3" id="socials-collapse" data-bs-parent="#shop-details">
            <div class="d-flex align-items-center mb-3">
              <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i
                class="fi-facebook text-body"></i></div>
              <input class="form-control" type="text" data-bs-binded-element="#facebook-value"
                     placeholder="Your Facebook account"
                     [(ngModel)]="businessProfile.socialFb" name="socialFb">
            </div>
            <div class="d-flex align-items-center mb-3">
              <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i
                class="fi-linkedin text-body"></i></div>
              <input class="form-control" type="text" data-bs-binded-element="#linkedin-value"
                     placeholder="Your LinkedIn account"
                     [(ngModel)]="businessProfile.socialLinkedIn" name="socialLinkedIn">
            </div>
            <div class="d-flex align-items-center mb-3">
              <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i
                class="fi-twitter text-body"></i></div>
              <input class="form-control" type="text" data-bs-binded-element="#twitter-value"
                     placeholder="Your Twitter account"
                     [(ngModel)]="businessProfile.socialTwitter" name="socialTwitter">
            </div>
            <div class="collapse" id="showMoreSocials">
              <div class="d-flex align-items-center mb-3">
                <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i
                  class="fi-instagram text-body"></i></div>
                <input class="form-control" type="text" data-bs-binded-element="#instagram-value"
                       placeholder="Your Instagram account"
                       [(ngModel)]="businessProfile.socialInsta" name="socialInsta">
              </div>
              <!--<div class="d-flex align-items-center mb-3">-->
              <!--<div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i-->
              <!--class="fi-behance text-body"></i></div>-->
              <!--<input class="form-control" type="text" data-bs-binded-element="#behance-value"-->
              <!--placeholder="Your Behance account">-->
              <!--</div>-->
            </div>
            <a class="collapse-label collapsed d-inline-block fs-sm fw-bold text-decoration-none pt-2 pb-3"
               href="#showMoreSocials" data-bs-toggle="collapse" data-bs-label-collapsed="Show more"
               data-bs-label-expanded="Show less" role="button" aria-expanded="false" aria-controls="showMoreSocials"><i
              class="fi-arrow-down me-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Action buttons-->
  <div class="row pt-4 mt-2">
    <div class="col-lg-9 offset-lg-3">
      <div class="d-flex align-items-center justify-content-between">
        <button class="btn btn-primary rounded-pill px-3 px-sm-4" type="submit">Save changes</button>
        <button class="btn btn-link btn-sm px-0" type="button"><i class="fi-user-x me-2"></i>Deactivate account</button>
      </div>
    </div>
  </div>

</form>
