<!--Package side viewer-->
<div class="offcanvas offcanvas-end" id="package-viewer" style="width:50rem;">
  <div class="offcanvas-header d-block border-bottom">
    <div class="d-flex align-items-center justify-content-between">
      <h2 class="h5 mb-0">Package Name xxxxxxxxxxxxxx</h2>
      <button class="btn-close" type="button" data-bs-dismiss="offcanvas"></button>
    </div>
  </div>
  <div class="offcanvas-body">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="package-view" role="tabpanel">
        <div class="card bg-position-center border-0 overflow-hidden" style="height: 350px; background-size: cover;">

          <div class="tns-carousel-wrapper card-img-top card-img-hover">

            <!-- <a class="img-overlay" href="#"></a> -->
            <span class="img-gradient-overlay"></span>
            <div class="position-absolute start-0 top-0 pt-3 ps-3">
              <span class="d-table badge bg-success">Offer</span></div>

            <div class="card-footer border-0 pt-5 pb-4 gy-3 w-100 position-absolute bottom-0 end-0">
              <div class="d-sm-flex justify-content-between align-items-end pt-5 mt-2 mt-sm-5">
                <a href="#" class="text-decoration-none text-light pe-2">
                  <!-- <div class="fs-sm text-uppercase pt-2 mb-1">Available</div> -->
                  <h3 class="h5 text-light mb-1">Package Name</h3>
                  <div class="fs-sm opacity-70">
                    <i class="fi-bookmark me-1"></i>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolorum cumque, eius fuga magni rerum cum ducimus libero atque minima! Sequi qui vel magnam facilis molestiae ratione numquam, rem reprehenderit?
                  </div>
                </a>
                <div class="btn-group ms-n2 ms-sm-5 mt-3 justify-content-end">
                  <a href="#" class="btn btn-primary px-3">LKR 200,410</a>
                  <!-- <button type="button" class="btn btn-primary btn-icon border-end-0 border-top-0 border-bottom-0 border-light fs-sm">
                    <i class="fi-heart"></i>
                  </button> -->
                </div>
              </div>
            </div>

            <div class="tns-carousel-inner" style="height: 350px; background-size: cover;">
              <img src="./asset/img/catalog/02.jpg" alt="Image" style="height: 350px;">
              <img src="./asset/img/catalog/07.jpg" alt="Image"  style="height: 350px;">

            </div>
          </div>
        </div>
        <div class="rowg-3  mt-4">
          <h3 class="h4 mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i>Information</h3>
        </div>
        <div class="row g-2">
          <div class="col me-sm-1">
            <div class="bg-dark rounded text-center w-100 h-100 p-2 cursor-point">
              <i class="fi-dashboard d-block h4 text-light mb-0 mx-center"></i>
              <span class="fs-xs text-light fw-bold">1 Packet</span>
            </div>
          </div>
          <div class="col me-sm-1">
            <div class="bg-dark rounded text-center w-100 h-100 p-2 cursor-point">
              <i class="fi-precentage d-block h4 text-light mb-0 mx-center fw-bold"></i>
              <span class="fs-xs text-light fw-bold">20%</span>
            </div>
          </div>
          <div class="col">
            <div class="bg-dark rounded text-center w-100 h-100 p-2 cursor-point">
              <i class="fi-cash d-block h4 text-light mb-0 mx-center"></i>
              <span class="fs-xs text-light fw-bold">LKR 2000</span>
            </div>
          </div>
        </div>
        <div class="row cols-md-12 mt-3">
          <p class="mb-2 fs-sm text-dark fw-bold">Overview </p>
          <div class="col">
            <p class="mb-2 fs-sm text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis consequuntur laudantium inventore dignissimos ipsum. Error sint perferendis dolores eligendi animi alias excepturi aut aliquid, molestiae recusandae atque, quo iusto rem! </p>
          </div>
        </div>

        <div class="row cols-md-12 mt-2">
          <p class="mb-2 fs-sm text-dark fw-bold">Features </p>
          <div class="col-sm-6 col-md-4 col-xl-3">
            <span class="bg-success text-light fs-sm btn btn-xs disabled opacity-100 rounded-pill me-2 mb-2 ms-1 mt-1"><i class="fi-info-square me-2"></i> User Interface</span>
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3">
            <span class="bg-success text-light fs-sm btn btn-xs disabled opacity-100 rounded-pill me-2 mb-2 ms-1 mt-1"><i class="fi-info-square me-2"></i> Typography</span>
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3">
            <span class="bg-success text-light fs-sm btn btn-xs disabled opacity-100 rounded-pill me-2 mb-2 ms-1 mt-1"><i class="fi-info-square me-2"></i> User Experience</span>
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3">
            <span class="bg-success text-light fs-sm btn btn-xs disabled opacity-100 rounded-pill me-2 mb-2 ms-1 mt-1"><i class="fi-info-square me-2"></i> User Interface</span>
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3">
            <span class="bg-success text-light fs-sm btn btn-xs disabled opacity-100 rounded-pill me-2 mb-2 ms-1 mt-1"><i class="fi-info-square me-2"></i> Typography</span>
          </div>
          <div class="col-sm-6 col-md-4 col-xl-3">
            <span class="bg-success text-light fs-sm btn btn-xs disabled opacity-100 rounded-pill me-2 mb-2 ms-1 mt-1"><i class="fi-info-square me-2"></i> User Experience</span>
          </div>
        </div>
        <div class="row g-4 py-2">
          <p class="mb-2 fs-sm text-dark fw-bold">Includes </p>
          <!--Item-->
          <div class="col-sm-12 col-md-6 col-xl-6">
            <div class="card shadow-sm card-hover border-0 h-100">
              <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay" href="#"></a>
                <div class="position-absolute start-0 top-0 pt-3 ps-3"><span class="d-table badge bg-primary cursor-point"><h4 class="h6 text-light fs-sm" style="margin-bottom: 0px;"><i class="fi-star fs-sm"></i> 4.5 / 5</h4></span></div>
                <div class="content-overlay end-0 top-0 pt-3 pe-3">
                  <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to favourite"><i class="fi-heart"></i></button>
                </div>
                <div class="tns-carousel-inner"><img src="./asset/img/catalog/07.jpg" alt="Image"><img src="./asset/img/catalog/07.jpg" alt="Image"></div>
              </div>
              <div class="card-body position-relative pb-3">
                <h3 class="h6 mb-2 fs-base"><a class="nav-link fw-bold ps-0" href="#" data-bs-toggle="offcanvas" data-bs-target="#fi-item-viewer">Item Name</a></h3>
                <div class="border-top border-light pt-0 mb-2">
                  <div class="row g-2">
                    <div class="col me-sm-1">
                      <div class="bg-dark rounded text-center w-100 h-100 p-2 cursor-point">
                        <i class="fi-dashboard d-block h4 text-light mb-0 mx-center"></i>
                        <span class="fs-xs text-light fw-bold">1 Packet</span>
                      </div>
                    </div>
                    <div class="col me-sm-1">
                      <div class="bg-dark rounded text-center w-100 h-100 p-2 cursor-point">
                        <i class="fi-precentage d-block h4 text-light mb-0 mx-center fw-bold"></i>
                        <span class="fs-xs text-light fw-bold">20%</span>
                      </div>
                    </div>
                    <div class="col">
                      <div class="bg-dark rounded text-center w-100 h-100 p-2 cursor-point">
                        <i class="fi-cash d-block h4 text-light mb-0 mx-center"></i>
                        <span class="fs-xs text-light fw-bold">LKR 2000</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer d-flex mx-3 pt-3 text-nowrap">

                <div class="d-flex align-items-center justify-content-between w-100">
                  <div class="fs-sm">
                    <span class="badge rounded-pill bg-success fw-bold">Category name</span>
                  </div>
                  <button class="btn btn-icon btn-light-primary btn-sm text-primary shadow-sm rounded-circle" type="button" data-bs-toggle="tooltip" title="Add to Cart">
                    <i class="fi-cart"></i></button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane fade" id="package-review" role="tabpanel">
        <div class="card card-body">
          <!-- Reviews-->
          <div class="mb-4 pb-4 border-bottom">
            <h3 class="h4 pb-3"><i class="fi-star-filled mt-n1 me-2 lead align-middle text-warning"></i>4,9 (4 reviews)</h3>
            <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch justify-content-between">
              <a class="btn btn-outline-primary mb-sm-0 mb-3" href="#add-review" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="add-review"><i class="fi-edit me-1"></i>Add review</a>
              <div class="d-flex align-items-center ms-sm-4">
                <label class="me-2 pe-1 text-nowrap" for="reviews-sorting"><i class="fi-arrows-sort text-muted mt-n1 me-2"></i>Sort by:</label>
                <select class="form-select" id="reviews-sorting">
                  <option>Newest</option>
                  <option>Oldest</option>
                  <option>Popular</option>
                  <option>High rating</option>
                  <option>Low rating</option>
                </select>
              </div>
            </div>
          </div>
          <!--add Review-->
          <div class="collapse mb-4 pb-4" id="add-review">
            <div class="card card-body">
              <form class="needs-validation" novalidate>
                <div class="mb-3">
                  <label class="form-label" for="review-rating">Rating <span class='text-danger'>*</span></label>
                  <select class="form-control form-select" id="review-rating" required>
                    <option value="" selected disabled hidden>Choose rating</option>
                    <option value="5 stars">5 stars</option>
                    <option value="4 stars">4 stars</option>
                    <option value="3 stars">3 stars</option>
                    <option value="2 stars">2 stars</option>
                    <option value="1 star">1 star</option>
                  </select>
                  <div class="invalid-feedback">Please rate the property.</div>
                </div>
                <div class="mb-4">
                  <label class="form-label" for="review-text">Review <span class='text-danger'>*</span></label>
                  <textarea class="form-control" id="review-text" rows="5" placeholder="Your review message" required></textarea>
                  <div class="invalid-feedback">Please write your review.</div>
                </div>
                <button class="btn btn-success d-block w-100 mb-4" type="submit">Submit a review</button>
              </form>
            </div>
          </div>
          <!-- Review-->
          <div class="mb-4 pb-4 border-bottom">
            <div class="d-flex justify-content-between mb-3">
              <div class="d-flex align-items-center pe-2"><img class="rounded-circle me-1" src="./asset/img/37.png" width="48" alt="Avatar">
                <div class="ps-2">
                  <h6 class="fs-base mb-0">Annette Black</h6><span class="star-rating"><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i></span>
                </div>
              </div><span class="text-muted fs-sm">Jan 17, 2021</span>
            </div>
            <p>Elementum ut quam tincidunt egestas vitae elit, hendrerit. Ullamcorper nulla amet lobortis elit, nibh condimentum enim. Aliquam felis nisl tellus sodales lectus dictum tristique proin vitae. Odio fermentum viverra tortor quis.</p>
            <div class="d-flex align-items-center">
              <button class="btn-like" type="button"><i class="fi-like"></i><span>(3)</span></button>
              <div class="border-end me-1">&nbsp;</div>
              <button class="btn-dislike" type="button"><i class="fi-dislike"></i><span>(0)</span></button>
            </div>
          </div>
          <!-- Review-->
          <div class="mb-4 pb-4 border-bottom">
            <div class="d-flex justify-content-between mb-3">
              <div class="d-flex align-items-center pe-2"><img class="rounded-circle me-1" src="./asset/img/37.png" width="48" alt="Avatar">
                <div class="ps-2">
                  <h6 class="fs-base mb-0">Darrell Steward</h6><span class="star-rating"><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star"></i><i class="star-rating-icon fi-star"></i></span>
                </div>
              </div><span class="text-muted fs-sm">Dec 1, 2020</span>
            </div>
            <p>Vel dictum nunc ut tristique. Egestas diam amet, ut proin hendrerit. Dui accumsan at phasellus tempus consequat dignissim.</p>
            <div class="d-flex align-items-center">
              <button class="btn-like" type="button"><i class="fi-like"></i><span>(0)</span></button>
              <div class="border-end me-1">&nbsp;</div>
              <button class="btn-dislike" type="button"><i class="fi-dislike"></i><span>(1)</span></button>
            </div>
          </div>
          <!-- Review-->
          <div class="mb-4 pb-4 border-bottom">
            <div class="d-flex justify-content-between mb-3">
              <div class="d-flex align-items-center pe-2"><img class="rounded-circle me-1" src="./asset/img/37.png" width="48" alt="Avatar">
                <div class="ps-2">
                  <h6 class="fs-base mb-0">Floyd Miles</h6><span class="star-rating"><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i></span>
                </div>
              </div><span class="text-muted fs-sm">Oct  28, 2020</span>
            </div>
            <p>Viverra nunc blandit sapien non imperdiet sit. Purus tempus elementum aliquam eu urna. A aenean duis non egestas at libero porttitor integer eget. Sed dictum lobortis laoreet gravida.</p>
            <div class="d-flex align-items-center">
              <button class="btn-like" type="button"><i class="fi-like"></i><span>(2)</span></button>
              <div class="border-end me-1">&nbsp;</div>
              <button class="btn-dislike" type="button"><i class="fi-dislike"></i><span>(1)</span></button>
            </div>
          </div>
          <!-- Review-->
          <div class="mb-4 pb-4 border-bottom">
            <div class="d-flex justify-content-between mb-3">
              <div class="d-flex align-items-center pe-2"><img class="rounded-circle me-1" src="./asset/img/37.png" width="48" alt="Avatar">
                <div class="ps-2">
                  <h6 class="fs-base mb-0">Ralph Edwards</h6><span class="star-rating"><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star"></i></span>
                </div>
              </div><span class="text-muted fs-sm">Sep 14, 2020</span>
            </div>
            <p>Elementum nisl, egestas nam consectetur nisl, at pellentesque cras. Non sed ac vivamus dolor dignissim ut. Nisl sapien blandit pulvinar sagittis donec sociis ipsum arcu est. Tempus, rutrum morbi scelerisque tempor mi. Etiam urna, cras bibendum leo nec faucibus velit. Tempor lectus dignissim at auctor integer neque quam amet.</p>
            <div class="d-flex align-items-center">
              <button class="btn-like" type="button"><i class="fi-like"></i><span>(0)</span></button>
              <div class="border-end me-1">&nbsp;</div>
              <button class="btn-dislike" type="button"><i class="fi-dislike"></i><span>(0)</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas-footer border-top" style="display: block;">
    <ul class="nav nav-tabs justify-content-end" role="tablist">
      <li class="nav-item me-2">
        <a class="btn btn-md btn-outline-info" href="#package-view" data-bs-toggle="tab" role="tab"><i class="fi-arrow-back fs-lg me-2"></i>Back</a>
      </li>
      <li class="nav-item me-2">
        <a class="btn btn-md btn-outline-primary" href="#package-review"  data-bs-toggle="tab" role="tab"><i class="fi-star fs-lg me-2"></i>Review</a>
      </li>
    </ul>
  </div>
</div>
