<!--Package side viewer-->
<div class="offcanvas offcanvas-end" id="item-package-viewer-g" style="width:50rem;">
  <div class="offcanvas-header d-block border-bottom">
    <div class="d-flex align-items-center justify-content-between">
      <div style="display: flex">
        <h2 class="h5 mb-0" style="margin-right: 15px">{{itemPackage.name}}</h2>
        <span *ngIf="itemPackage.itemPackageType==='Item'" class="badge rounded-pill bg-info" style="padding-top: 7px"> Item </span>
        <span *ngIf="itemPackage.itemPackageType==='Package'" class="badge rounded-pill bg-success"
              style="padding-top: 7px"> Package </span>
      </div>
      <button class="btn-close" type="button" data-bs-dismiss="offcanvas"></button>
    </div>

  </div>
  <div class="offcanvas-body">
    <!-- Tabs content-->
    <div class="tab-content">
      <!-- Item View-->
      <div class="tab-pane fade show active" id="item-package-view" role="tabpanel">
        <div class="row">
          <div class="row g-2 g-md-3 gallery" data-thumbnails="true" style="min-width: 30rem;">
            <div class="col-12" *ngIf="_album?.length > 0">
              <div class="row g-2 g-md-3 gallery" style="min-width: 30rem;">

                <div class="col-8">
                  <p class="gallery-item rounded rounded-md-3" (click)="open(firstImg)"
                     data-sub-html="<h6 class=&quot;fs-sm text-light&quot;></h6>" style="height: 100%;">
                    <img [src]="getAlbumSrc(firstImg)" alt="Gallery thumbnail">
                  </p>
                </div>
                <div class="col-4">
                  <p class="gallery-item rounded rounded-md-3 mb-2 mb-md-3" (click)="open(secondImg)"
                     data-sub-html="<h6 class=&quot;fs-sm text-light&quot;></h6>">
                    <img [src]="getAlbumSrc(secondImg)" alt="Gallery thumbnail">
                  </p>
                  <p class="gallery-item rounded rounded-md-3" (click)="open(thirdImg)"
                     data-sub-html="<h6 class=&quot;fs-sm text-light&quot;></h6>">
                    <img [src]="getAlbumSrc(thirdImg)" alt="Gallery thumbnail">
                  </p>
                </div>
                <div class="col-12" *ngIf="_album?.length > 3">
                  <div class="row g-2 g-md-3">
                    <ng-container *ngFor="let items of _album; let i=index;">
                      <ng-container *ngIf="_album?.length ===4 && i+1>3">
                        <div class="col-3">
                          <p class="gallery-item rounded-1 rounded-md-2" (click)="open(i)"
                             data-sub-html="<h6 class=&quot;fs-sm text-light&quot;></h6>">
                            <img [src]="getAlbumSrc(i)" alt="Gallery thumbnail">
                          </p>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="_album?.length > 4 && i+1>3">
                        <div class="col">
                          <p class="gallery-item rounded-1 rounded-md-2" (click)="open(i)"
                             data-sub-html="<h6 class=&quot;fs-sm text-light&quot;></h6>">
                            <img [src]="getAlbumSrc(i)" alt="Gallery thumbnail">
                          </p>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rowg-3  mt-4">
          <h3 class="h4 mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i>Information</h3>
        </div>
        <div class="border-top border-light pt-0 mb-2">
          <div class="fw-bold" style="font-size: 21px;margin-top: 0px;margin-bottom: 15px">
            <i class="fi-cash mt-n1 me-2 lead align-middle opacity-70" style="font-size: 30px"></i>
            <span *ngIf="itemPackage.discountType==='None'">LKR {{itemPackage.price | number:'.2-2'}}</span>
            <span *ngIf="itemPackage.discountType!=='None'"
                  style="text-decoration: line-through;color: red">LKR {{itemPackage.price | number:'.2-2'}}</span>
            <span *ngIf="itemPackage.discountType!=='None'" style="margin-left: 10px">LKR {{itemPackage.discountedPrice | number:'.2-2'}}</span>
          </div>
          <div class="row cols-sm-2 row-cols-md-12"
               style="border-top: 1px solid #eaeaea;border-bottom: 1px solid #eaeaea;margin-top: 0px;margin-bottom: 20px">
            <div class="col" style="padding: 0px">
              <div *ngIf="itemPackage.quantity>0" style="border-right: 1px solid #d3d3d3">
                <p class="mb-1 fs-sm" style="margin-top: 7px;color: #d48f03;font-weight: bold;text-align: center">
                  {{itemPackage.makeToOrder?'Max':''}} Quantity
                </p>
                <p class="mb-2 fs-sm fw-bold mx-2" style="text-align: center;color: #f29d00">
                  {{itemPackage.quantity}}</p>
              </div>
              <div *ngIf="itemPackage.quantity===0" style="border-right: 1px solid #d3d3d3;margin-top: 22px">
                <p class="mb-2 fs-sm fw-bold mx-2"
                   style="text-align: center;">
                  <span style="color: #f24605;padding: 5px;border: 1px solid #f24605;border-radius: 10px">
                    Out Of Stock
                  </span>
                </p>
              </div>
            </div>
            <div class="col" style="padding: 0px">
              <p class="mb-2 fs-sm" style="margin-top: 7px;color: #b94701;font-weight: bold;text-align: center">
                Discount </p>
              <p class="mb-2 fs-sm text-primary fw-bold" style="text-align: center">
                {{itemPackage.discountType==='None' ? 'N/A' :
                itemPackage.discountType==='Cash' ? ('LKR '+itemPackage.discount) :
                itemPackage.discountType==='Percentage' ? (itemPackage.discount + '%') : ''}}
              </p>
            </div>
          </div>
        </div>

        <div *ngIf="itemPackage.itemPackageType==='Item'"
             style="display: flex;border-bottom: 1px solid #eaeaea;padding-bottom: 10px">
          <div class="mb-2 fs-sm text-dark fw-bold">Item Category |</div>
          <div style="font-size: 14px;margin-left: 5px">
            {{itemPackage.itemCategory!==undefined?itemPackage.itemCategory.name:'N/A'}}
          </div>
        </div>

        <div>
          <p class="mb-2 fs-sm text-dark fw-bold">Features </p>
          <span *ngFor="let itemPackageFeature of itemPackage.itemPackageItemPackageFeatures"
                class="bg-success text-light fs-sm btn btn-xs disabled opacity-100 rounded-pill me-2 mb-2 ms-1 mt-1"
                style="margin-left: 10px">
              {{itemPackageFeature.itemPackageFeature.name}}
            <!--<i class="fi-x fs-xs ms-2"></i>-->
            </span>
        </div>

        <div class="row cols-md-12 mt-3">
          <p class="mb-2 fs-sm text-dark fw-bold">Overview </p>
          <div class="col">
            <p class="mb-2 fs-sm text-muted">{{itemPackage.description}} </p>
          </div>
        </div>

        <div *ngIf="itemPackage.itemPackageType==='Package'" class="row" style="margin-top: 10px">
          <p class="mb-2 fs-sm text-dark fw-bold">Includes </p>
          <!--Item-->
          <div class="col-sm-12 col-md-6 col-xl-6" *ngFor="let packageItemItem of itemPackage.packageItemItems">
            <div class="card shadow-sm card-hover border-0 h-100">
              <div class="tns-carousel-wrapper card-img-top card-img-hover" style="background-color: rgba(0,0,0,0.25)">
                <a class="img-overlay"></a>
                <div class="position-absolute start-0 top-0 pt-3 ps-3"><span
                  class="d-table badge bg-primary cursor-point"><h4
                  class="h6 text-light fs-sm" style="margin-bottom: 0px;"><i
                  class="fi-star fs-sm"></i> 4.5 / 5</h4></span>
                </div>
                <!--<div class="content-overlay end-0 top-0 pt-3 pe-3">-->
                <!--<button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"-->
                <!--data-bs-toggle="tooltip" data-bs-placement="left" title="remove item"><i class="fi-trash"></i>-->
                <!--</button>-->
                <!--</div>-->

                <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                  <mdb-carousel-item *ngFor="let image of packageItemItem.item.itemPackage.itemPackageImages">
                    <span style="height: 100%;width: 100%;background-color: rgba(0,0,0,0.25);position: absolute"></span>
                    <img style="max-height:200px;height: 200px" class="d-block w-100" [src]="getImageSrc(image)"
                         alt="First slide">
                  </mdb-carousel-item>
                </mdb-carousel>

              </div>
              <div class="card-body position-relative pb-3">

                <!-- <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary fw-bold">Not Available</h4> -->
                <h3 class="h6 mb-2 fs-base">
                  <a class="nav-link"
                     (click)="getItemPackageSelected(itemPackage,packageItemItem.item.itemPackage)"
                     style="font-weight: bold;padding: 0px">{{packageItemItem.item.itemPackage.name}}</a></h3>
                <!-- <div class="d-flex align-items-center text-nowrap">
                  <p class="mb-2 fs-sm text-muted">Quantity </p>
                  <p class="mb-2 fs-sm text-primary fw-bold mx-2"> 250g</p>
                </div> -->
                <div class="row g-2">

                </div>
                <!--<div class="row cols-sm-2 row-cols-md-12"-->
                <!--style="border-top: 1px solid #eaeaea;border-bottom: 1px solid #eaeaea;margin-top: 10px;margin-bottom: 10px">-->
                <!--<div class="col" style="padding: 0px">-->
                <!--<div style="border-right: 1px solid #d3d3d3">-->
                <!--<p class="mb-1 fs-sm" style="margin-top: 7px;color: #d48f03;font-weight: bold;text-align: center">-->
                <!--Quantity </p>-->
                <!--<p class="mb-2 fs-sm fw-bold mx-2" style="text-align: center;color: #f29d00">-->
                <!--{{packageItemItem.item.itemPackage.quantity}}</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col" style="padding: 0px">-->
                <!--<p class="mb-2 fs-sm" style="margin-top: 7px;color: #b94701;font-weight: bold;text-align: center">-->
                <!--Discount </p>-->
                <!--<p class="mb-2 fs-sm text-primary fw-bold" style="text-align: center">-->
                <!--{{packageItemItem.item.itemPackage.discountType==='None' ? 'N/A' :-->
                <!--packageItemItem.item.itemPackage.discountType==='Cash' ? ('LKR '+packageItemItem.item.itemPackage.discount) :-->
                <!--packageItemItem.item.itemPackage.discountType==='Percentage' ? (packageItemItem.item.itemPackage.discount + '%') : ''}}-->
                <!--</p>-->
                <!--&lt;!&ndash;<p *ngIf="item.itemDiscountType==='None'" class="mb-2 fs-sm text-primary fw-bold">N/A</p>&ndash;&gt;-->
                <!--&lt;!&ndash;<p *ngIf="item.itemDiscountType==='Cash'" class="mb-2 fs-sm text-primary fw-bold">{{"LKR " + item.itemDiscount}}</p>&ndash;&gt;-->
                <!--&lt;!&ndash;<p *ngIf="item.itemDiscountType==='Percentage'" class="mb-2 fs-sm text-primary fw-bold">{{item.itemDiscount + "%"}}</p>&ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="fw-bold">-->
                <!--<i class="fi-cash mt-n1 me-2 lead align-middle opacity-70" style="font-size: 30px"></i>-->
                <!--<span *ngIf="packageItemItem.item.itemPackage.discountType==='None'">LKR {{packageItemItem.item.itemPackage.price | number:'.2-2'}}</span>-->
                <!--<span *ngIf="packageItemItem.item.itemPackage.discountType!=='None'"-->
                <!--style="text-decoration: line-through;color: red">LKR {{packageItemItem.item.itemPackage.price | number:'.2-2'}}</span>-->
                <!--<span *ngIf="packageItemItem.item.itemPackage.discountType!=='None'" style="margin-left: 10px">LKR {{packageItemItem.item.itemPackage.discountedPrice | number:'.2-2'}}</span>-->
                <!--</div>-->
              </div>
              <!--<div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap">-->
              <!--<div class="form-check form-switch">-->
              <!--<input class="form-check-input" type="checkbox" [checked]="itemItemPackage.item.available"-->
              <!--(click)="setItemPackageAvailable(item)">-->
              <!--<label *ngIf="!itemItemPackage.item.available"-->
              <!--class="form-check-label fs-xs fw-normal text-uppercase text-primary fw-bold">-->
              <!--Not Available</label>-->
              <!--<label *ngIf="itemItemPackage.item.available" class="form-check-label fs-xs fw-normal text-uppercase text-green fw-bold">-->
              <!--Available</label>-->
              <!--</div>-->
              <!--&lt;!&ndash;<div class="form-check form-switch" *ngIf="item.itemAvailable">&ndash;&gt;-->
              <!--&lt;!&ndash;<input class="form-check-input" type="checkbox" checked>&ndash;&gt;-->
              <!--&lt;!&ndash;<label class="form-check-label fs-xs fw-normal text-uppercase text-green fw-bold">&ndash;&gt;-->
              <!--&lt;!&ndash;Available</label>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--</div>-->
            </div>
          </div>

        </div>
      </div>

      <div class="tab-pane fade" id="item-package-review" role="tabpanel">
        <div class="card card-body">
          <!-- Reviews-->
          <div class="mb-4 pb-4 border-bottom">
            <h3 class="h4 pb-3"><i class="fi-star-filled mt-n1 me-2 lead align-middle text-warning"></i>
              4,9 ({{itemPackageReviews.length}} review{{itemPackageReviews.length>1?'s':''}})
            </h3>
            <div
              class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch justify-content-between">
              <a *ngIf="getUser()!==null && getUser().role==='C'" class="btn btn-outline-primary mb-sm-0 mb-3"
                 href="#add-review" data-bs-toggle="collapse" role="button"
                 aria-expanded="false" aria-controls="add-review"><i class="fi-edit me-1"></i>Add review</a>
              <div class="d-flex align-items-center ms-sm-4">
                <label class="me-2 pe-1 text-nowrap" for="reviews-sorting"><i
                  class="fi-arrows-sort text-muted mt-n1 me-2"></i>Sort by:</label>
                <select class="form-select" id="reviews-sorting">
                  <option>Newest</option>
                  <option>Oldest</option>
                  <option>Popular</option>
                  <option>High rating</option>
                  <option>Low rating</option>
                </select>
              </div>
            </div>
          </div>
          <!--add Review-->
          <div class="collapse mb-4 pb-4" id="add-review">
            <div class="card card-body">
              <form #reviewForm="ngForm" (ngSubmit)="reviewForm.form.valid && addItemPackageReview()" novalidate>
                <!--<form class="needs-validation" novalidate>-->
                <div class="mb-3">
                  <label class="form-label" for="p-review-rating">Rating <span class='text-danger'>*</span></label>
                  <select class="form-control form-select" id="p-review-rating"
                          [(ngModel)]="itemPackageReview.rating" #itemPackageReviewRate="ngModel"
                          name="itemPackageReviewRate" required>
                    <option value="" selected>Choose rating</option>
                    <option value="5">5 stars</option>
                    <option value="4">4 stars</option>
                    <option value="3">3 stars</option>
                    <option value="2">2 stars</option>
                    <option value="1">1 star</option>
                  </select>
                  <div
                    *ngIf="(itemPackageReviewRate.touched || reviewForm.submitted) && itemPackageReviewRate.errors?.required"
                    class="validErr">
                    Please rate the property
                  </div>
                  <!--<div class="invalid-feedback">Please rate the property.</div>-->
                </div>
                <div class="mb-4">
                  <label class="form-label" for="p-review-text">Review <span class='text-danger'>*</span></label>
                  <textarea class="form-control" id="p-review-text" rows="5" placeholder="Your review message"
                            required [(ngModel)]="itemPackageReview.description" #itemPackageReviewDesc="ngModel"
                            name="itemPackageReviewDesc"></textarea>
                  <div
                    *ngIf="(itemPackageReviewDesc.touched || reviewForm.submitted) && itemPackageReviewDesc.errors?.required"
                    class="validErr">
                    Please write your review
                  </div>
                  <!--<div class="invalid-feedback">Please write your review.</div>-->
                </div>
                <button class="btn btn-success d-block w-100 mb-4" type="submit">Submit a review</button>
              </form>
            </div>
          </div>
          <!-- Review-->
          <div class="mb-4 pb-4" *ngFor="let itemPackageReview of itemPackageReviews;let isLast=last;let i=index"
               [ngClass]="!isLast?'border-bottom':''">
            <form #reviewUpdateForm="ngForm"
                  (ngSubmit)="reviewUpdateForm.form.valid && updateItemPackageReview(itemPackageReview,i)" novalidate>
              <div class="d-flex justify-content-between mb-3">
                <div class="d-flex align-items-center pe-2"><img class="rounded-circle me-1"
                                                                 src="assets/img/37.png" width="48" alt="Avatar">
                  <div class="ps-2">
                    <h6 class="fs-base mb-0">
                      {{itemPackageReview.customerProfile.firstName + ' ' + itemPackageReview.customerProfile.lastName}}
                    </h6>
                    <span class="star-rating">
                      <i *ngFor="let rating of [].constructor(itemPackageReview.tempRating)"
                         class="star-rating-icon fi-star-filled active"></i>
                      <i *ngFor="let rating of [].constructor(5-itemPackageReview.tempRating)"
                         class="star-rating-icon fi-star-filled"></i>
                    </span>
                  </div>
                </div>
                <!--<span class="text-muted fs-sm">Jan 17, 2021</span>-->
                <span class="text-muted fs-sm">{{itemPackageReview.postedDate}}</span>
              </div>
              <div *ngIf="itemPackageReview.editReview">
                <select class="form-control form-select"
                        [(ngModel)]="itemPackageReview.rating" #itemPackageReviewRateE="ngModel"
                        name="itemPackageReviewRateE" required style="margin-bottom: 10px">
                  <option value="" selected>Choose rating</option>
                  <option value="5">5 stars</option>
                  <option value="4">4 stars</option>
                  <option value="3">3 stars</option>
                  <option value="2">2 stars</option>
                  <option value="1">1 star</option>
                </select>
                <div
                  *ngIf="(itemPackageReviewRateE.touched || reviewUpdateForm.submitted) && itemPackageReviewRateE.errors?.required"
                  class="validErr" style="margin-bottom: 10px">
                  Please rate the property
                </div>
                <textarea style="margin-bottom: 20px" class="form-control"
                          type="text" name="itemPackageReviewDescE" required #itemPackageReviewDescE="ngModel"
                          [(ngModel)]="itemPackageReview.description"></textarea>
                <div
                  *ngIf="(itemPackageReviewDescE.touched || reviewUpdateForm.submitted) && itemPackageReviewDescE.errors?.required"
                  class="validErr" style="margin-bottom: 10px">
                  Please write your review
                </div>
              </div>
              <p *ngIf="!itemPackageReview.editReview">{{itemPackageReview.description}}</p>
              <div class="d-flex align-items-center">
                <button class="btn-like" type="button" (click)="addItemReviewResponse(itemPackageReview,'like')"
                        [ngStyle]="{'color':
              itemPackageReview.responseByMe!==undefined?
              itemPackageReview.responseByMe.response==='like'?'green':'':''}">
                  <i class="fi-like"></i>
                  <span>({{itemPackageReview.likeCount}})</span>
                </button>
                <div class="border-end me-1">&nbsp;</div>
                <button class="btn-dislike" type="button" (click)="addItemReviewResponse(itemPackageReview,'dislike')"
                        [ngStyle]="{'color':
              itemPackageReview.responseByMe!==undefined?
              itemPackageReview.responseByMe.response==='dislike'?'red':'':''}">
                  <i class="fi-dislike"></i>
                  <span>({{itemPackageReview.dislikeCount}})</span>
                </button>
                <span *ngIf="getUser()!==null && getUser().role==='C'">
                <button *ngIf="itemPackageReview.editReview"
                        style="margin-left: 15px;color: #0a53be;cursor: pointer;background: none;border: none;"
                        type="submit">
                  Save
                </button>
                <span *ngIf="!itemPackageReview.editReview" style="margin-left: 15px;color: #0a53be;cursor: pointer"
                      (click)="itemPackageReview.editReview=true">
                  Edit
                </span>
                <span style="margin-left: 20px;color: red;cursor: pointer"
                      (click)="removeItemPackageReview(itemPackageReview.itemPackageReviewId,i)">Remove</span>
                </span>
              </div>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="offcanvas-footer border-top"
       [ngStyle]="{'display': (getUser()!==null && getUser().role==='C')?'flex':'block'}">
    <button *ngIf="getUser()!==null && getUser().role==='C'"
            class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
            data-bs-toggle="tooltip" data-bs-placement="left" title="Add to favourite"
            style="padding-bottom: 24px" (click)="setItemFavourite(itemPackage)">
      <i *ngIf="!itemPackage.favourite" class="fi-heart" style="font-size: 26px"></i>
      <i *ngIf="itemPackage.favourite" class="fi-heart-filled" style="font-size: 26px"></i>
    </button>
    <ul class="nav nav-tabs justify-content-end" role="tablist">
      <li class="nav-item me-2" *ngIf="itemPackageObj.cart!==undefined" style="display: flex">
        <button class="btn btn-icon btn-success btn-lg text-light shadow-sm rounded-circle" type="button"
                data-bs-toggle="tooltip" title="Add to Cart" (click)="addToCart()">
          <i class="fi-cart" style="padding-top: 2px"></i></button>
        <div *ngIf="itemPackageObj.itemPackage.orderDetail.quantity>0"
             style="padding: 2px 5px 2px 5px;color: #1b945b;margin-top: 8px;margin-left: 8px;font-weight: bold">
          {{itemPackageObj.itemPackage.orderDetail.quantity}}
        </div>
      </li>
      <li class="nav-item me-2" *ngIf="itemPackageObj.backBtn!==undefined && !review">
        <a class="btn btn-md btn-outline-info" [attr.data-bs-target]="'#'+itemPackageObj.backBtn"
           role="tab" (click)="goBack()"><i
          class="fi-arrow-back fs-lg me-2"></i>Back</a>
      </li>
      <li class="nav-item me-2" *ngIf="review">
        <a id="package-back-btn" class="btn btn-md btn-outline-info" href="#item-package-view" data-bs-toggle="tab"
           role="tab" (click)="review=false"><i
          class="fi-arrow-back fs-lg me-2"></i>Back</a>
      </li>
      <li class="nav-item me-2">
        <a class="btn btn-md btn-outline-primary" href="#item-package-review" data-bs-toggle="tab" role="tab"
           (click)="getItemPackageReviews()">
          <i class="fi-star fs-lg me-2"></i>Reviews</a>
      </li>
    </ul>
  </div>
</div>
