.gal-container {
  display: flex;
  flex-wrap: wrap;
}

.gal-container img {
  width: 23%;
  /* height: 200px; */
  object-fit: cover;
}

.g-overlay {
  min-width: 320px;
}

/* .gallery-item{
  height: 220px !important;
} */

/* img {
  width: 150px;
} */

.lightbox-example, .gallerize-example {
  margin: 2em;
}
