<div class="d-flex">
  <div class="flex-grow-1">
    <h1 class="h2"><i class="fi-shopping-bag text-primary"></i> Order</h1>
  </div>
  <div class="">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Search....." id="order-search">
      <div class="input-group-text p-0">
        <a class="d-block text-body px-3 py-2" href="#">
          <i class="fi-search mt-n1"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-info mb-4" role="alert">
  <div class="d-flex">
    <i class="fi-alert-circle me-2 me-sm-3"></i>
    <p class="fs-sm mb-1">
      You can handle orders using this section.When order comes first it belongs to pending section then you can move it
      to In Progress section or Ready section.
    </p>
  </div>
</div>

<!-- <p class="pt-1 mb-4"></p> -->
<!-- Nav tabs-->
<ul class="nav nav-tabs nav-fill border-bottom mb-4" role="tablist">
  <li class="nav-item me-sm-3 mb-3">
    <a
      class="nav-link text-center active"
      href="#pending-order-tab"
      data-bs-toggle="tab"
      role="tab"
      aria-controls="pending-order-tab"
      aria-selected="true"
    >
      Pending

      <span class="badge rounded-pill bg-warning">10</span>
    </a>
  </li>
  <li class="nav-item me-sm-3 mb-3">
    <a
      class="nav-link text-center"
      href="#inprogress-order-tab"
      data-bs-toggle="tab"
      role="tab"
      aria-controls="inprogress-order-tab"
      aria-selected="true"
    >
      In Progress

      <span class="badge rounded-pill bg-info">2</span>
    </a>
  </li>
  <li class="nav-item me-sm-3 mb-3">
    <a
      class="nav-link text-center"
      href="#complete-order-tab"
      data-bs-toggle="tab"
      role="tab"
      aria-controls="complete-order-tab"
      aria-selected="true"
    >
      Complete
      <span class="badge rounded-pill bg-success">4</span>
    </a>
  </li>
</ul>
<!-- Tabs content-->
<div class="tab-content pt-2">
  <!--Pending Order tab-->
  <div
    class="tab-pane fade show active"
    id="pending-order-tab"
    role="tabpanel"
  >
    <div
      class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch justify-content-between pb-4 mb-2 mb-md-3">
      <h3 class="h4 mb-sm-0">
        <i class="fi-archive mt-n1 me-2 lead align-middle text-warning"></i>Pending Orders</h3>
      <div class="d-flex align-items-center ms-sm-4">
        <label class="fs-sm me-2 pe-1 text-nowrap" for="review-sorting1"><i
          class="fi-arrows-sort text-muted mt-n1 me-2"></i>Sort by:</label>
        <select class="form-select form-select-sm" id="review-sorting1">
          <option>Newest</option>
          <option>Oldest</option>
          <option>Popular</option>
          <option>High rating</option>
          <option>Low rating</option>
        </select>
      </div>
    </div>
    <div class="row g-4 py-1">
      <div class="col-md-6">
        <div class="card border-0 shadow-sm mb-2">
          <blockquote class="blockquote pending-card-micon card-body">
            <div class="d-flex justify-content-between mb-2">
              <div class="pe-3">
                <div class="d-flex align-items-center mb-2">
                  <img class="rounded-circle me-1" src="../../../../../assets/img/37.png" width="48" alt="Avatar">
                  <div class="ps-2">
                    <h6 class="fs-base mb-0">Ralph Edwards</h6>
                    <div class="text-muted fw-normal fs-sm">0765363828 | 0742213254</div>
                  </div>
                </div>
              </div>
              <div>
                <div class="text-muted fs-sm mt-1">5 min ago</div>
              </div>
            </div>
            <div class="section-second mb-3">
              <div class="list-group list-group-horizontal-sm">
                <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                   title="Items Count" data-bs-original-title="Items Count" aria-label="Items Count">
                  <div class="bg-dark rounded text-center p-2"><i
                    class="fi-list d-block h5 text-light mb-0 mx-center"></i>
                    <span class="fs-xs h4 text-light">5</span>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                   title="Total Price" data-bs-original-title="Total Price" aria-label="Total Price">
                  <div class="bg-dark rounded text-center p-2">
                    <i class="fi-cash d-block h5 text-light mb-0 mx-center"></i><span class="fs-xs h4 text-light">LKR 2500</span>
                  </div>
                </a>
                <a href="#item-list" data-bs-toggle="collapse" aria-expanded="false" aria-controls="item-list"
                   class="list-group-item list-group-item-action text-center">
                  <div class="bg-dark rounded text-center p-2">
                    <i class="fi-eye-on d-block h5 text-light mb-0 mx-center"></i>
                    <span class="fs-xs h4 text-light">view</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="collapse mb-3" id="item-list">
              <div class="card card-body">
                <!--Order detail card 1-->
                <div class="order-detail-card mb-3 border-bottom">
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <h3 class="h6 mb-2 fs-base">
                      <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#item-viewer">Item
                        Name</a></h3>
                    <span class="badge rounded-pill bg-info"> Item </span>
                  </div>
                  <div class="order-detail-card-ss mb-3">
                    <div class="list-group list-group-horizontal-sm">
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Quantity" data-bs-original-title="Quantity" aria-label="Quantity">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-archive d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">2</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Discount" data-bs-original-title="Discount" aria-label="Discount">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-precentage d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">LKR 20</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Price" data-bs-original-title="Price" aria-label="Price">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-cash d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">LKR 500</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <span class="fs-md text-primary ms-2"><i class="fi-checkbox-checked-alt"></i></span>
                    <div class="form-check form-check-dark">
                      <input class="form-check-input" type="checkbox" id="compare1">
                      <!-- <label class="form-check-label fs-sm" for="compare1">Compare</label> -->
                    </div>
                  </div>
                </div>
                <!--Order detail card 2-->
                <div class="order-detail-card mb-3 border-bottom">
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <h3 class="h6 mb-2 fs-base">
                      <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#package-viewer">Package
                        name</a></h3>
                    <span class="badge rounded-pill bg-success"> Package </span>
                  </div>
                  <div class="order-detail-card-ss mb-3">
                    <div class="list-group list-group-horizontal-sm">
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Quantity" data-bs-original-title="Quantity" aria-label="Quantity">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-archive d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">1</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Discount" data-bs-original-title="Discount" aria-label="Discount">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-precentage d-block h5 text-light mb-0 mx-center"></i><span
                          class="fs-xs h4 text-light">LKR 250</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Price" data-bs-original-title="Price" aria-label="Price">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-cash d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">LKR 2000</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <span class="fs-md text-primary ms-2"><i class="fi-checkbox-checked-alt"></i></span>
                    <div class="form-check form-check-dark">
                      <input class="form-check-input" type="checkbox" id="compare1">
                      <!-- <label class="form-check-label fs-sm" for="compare1">Compare</label> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <footer class="d-flex justify-content-between">
              <a href="#" class="btn btn-icon btn-light-primary btnhred btn-xs shadow-sm rounded-circle me-2 mb-2"
                 data-bs-toggle="tooltip" title="Cancel Order" data-bs-original-title="Cancel Order"
                 aria-label="Cancel Order">
                <i class="fi-x"></i>
              </a>
              <a href="#" class="btn btn-icon btn-light-primary btnhgreen btn-xs shadow-sm rounded-circle me-2 mb-2"
                 data-bs-toggle="tooltip" title="Order Completed" data-bs-original-title="Order Completed"
                 aria-label="Order Completed">
                <i class="fi-check"></i>
              </a>
              <a href="#" class="btn btn-icon btn-light-primary btnhblue btn-xs shadow-sm rounded-circle me-2 mb-2"
                 data-bs-toggle="tooltip" title="Order In Progress" data-bs-original-title="Order In Progress"
                 aria-label="Order In Progress">
                <i class="fi-arrow-long-right"></i>
              </a>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border-0 shadow-sm mb-2">
          <blockquote class="blockquote pending-card-micon card-body">
            <div class="d-flex justify-content-between mb-2">
              <div class="pe-3">
                <div class="d-flex align-items-center mb-2">
                  <img class="rounded-circle me-1" src="../../../../../assets/img/37.png" width="48" alt="Avatar">
                  <div class="ps-2">
                    <h6 class="fs-base mb-0">Ralph Edwards</h6>
                    <div class="text-muted fw-normal fs-sm">0765363828 | 0742213254</div>
                  </div>
                </div>
              </div>
              <div>
                <div class="text-muted fs-sm mt-1">5 min ago</div>
              </div>
            </div>
            <div class="section-second mb-3">
              <div class="list-group list-group-horizontal-sm">
                <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                   title="Items Count" data-bs-original-title="Items Count" aria-label="Items Count">
                  <div class="bg-dark rounded text-center p-2"><i
                    class="fi-list d-block h5 text-light mb-0 mx-center"></i>
                    <span class="fs-xs h4 text-light">5</span>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                   title="Total Price" data-bs-original-title="Total Price" aria-label="Total Price">
                  <div class="bg-dark rounded text-center p-2">
                    <i class="fi-cash d-block h5 text-light mb-0 mx-center"></i><span class="fs-xs h4 text-light">LKR 2500</span>
                  </div>
                </a>
                <a href="#item-list-2" data-bs-toggle="collapse" aria-expanded="false" aria-controls="item-list-2"
                   class="list-group-item list-group-item-action text-center">
                  <div class="bg-dark rounded text-center p-2">
                    <i class="fi-eye-on d-block h5 text-light mb-0 mx-center"></i>
                    <span class="fs-xs h4 text-light">view</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="collapse mb-3" id="item-list-2">
              <div class="card card-body">
                <!--Order detail card 1-->
                <div class="order-detail-card mb-3 border-bottom">
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <h3 class="h6 mb-2 fs-base">
                      <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#item-viewer">Item
                        Name</a></h3>
                    <span class="badge rounded-pill bg-info"> Item </span>
                  </div>
                  <div class="order-detail-card-ss mb-3">
                    <div class="list-group list-group-horizontal-sm">
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Quantity" data-bs-original-title="Quantity" aria-label="Quantity">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-archive d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">2</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Discount" data-bs-original-title="Discount" aria-label="Discount">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-precentage d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">LKR 20</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Price" data-bs-original-title="Price" aria-label="Price">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-cash d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">LKR 500</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <span class="fs-md text-primary ms-2"><i class="fi-checkbox-checked-alt"></i></span>
                    <div class="form-check form-check-dark">
                      <input class="form-check-input" type="checkbox" id="compare1">
                      <!-- <label class="form-check-label fs-sm" for="compare1">Compare</label> -->
                    </div>
                  </div>
                </div>
                <!--Order detail card 2-->
                <div class="order-detail-card mb-3 border-bottom">
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <h3 class="h6 mb-2 fs-base">
                      <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#item-viewer">Package
                        name</a></h3>
                    <span class="badge rounded-pill bg-success"> Package </span>
                  </div>
                  <div class="order-detail-card-ss mb-3">
                    <div class="list-group list-group-horizontal-sm">
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Quantity" data-bs-original-title="Quantity" aria-label="Quantity">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-archive d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">1</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Discount" data-bs-original-title="Discount" aria-label="Discount">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-precentage d-block h5 text-light mb-0 mx-center"></i><span
                          class="fs-xs h4 text-light">LKR 250</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Price" data-bs-original-title="Price" aria-label="Price">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-cash d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">LKR 2000</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <span class="fs-md text-primary ms-2"><i class="fi-checkbox-checked-alt"></i></span>
                    <div class="form-check form-check-dark">
                      <input class="form-check-input" type="checkbox" id="compare1">
                      <!-- <label class="form-check-label fs-sm" for="compare1">Compare</label> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <footer class="d-flex justify-content-between">
              <a href="#" class="btn btn-icon btn-light-primary btnhred btn-xs shadow-sm rounded-circle me-2 mb-2"
                 data-bs-toggle="tooltip" title="Cancel Order" data-bs-original-title="Cancel Order"
                 aria-label="Cancel Order">
                <i class="fi-x"></i>
              </a>
              <a href="#" class="btn btn-icon btn-light-primary btnhgreen btn-xs shadow-sm rounded-circle me-2 mb-2"
                 data-bs-toggle="tooltip" title="Order Completed" data-bs-original-title="Order Completed"
                 aria-label="Order Completed">
                <i class="fi-check"></i>
              </a>
              <a href="#" class="btn btn-icon btn-light-primary btnhblue btn-xs shadow-sm rounded-circle me-2 mb-2"
                 data-bs-toggle="tooltip" title="Order In Progress" data-bs-original-title="Order In Progress"
                 aria-label="Order In Progress">
                <i class="fi-arrow-long-right"></i>
              </a>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border-0 shadow-sm mb-2">
          <blockquote class="blockquote pending-card-micon card-body">
            <div class="d-flex justify-content-between mb-2">
              <div class="pe-3">
                <div class="d-flex align-items-center mb-2">
                  <img class="rounded-circle me-1" src="../../../../../assets/img/37.png" width="48" alt="Avatar">
                  <div class="ps-2">
                    <h6 class="fs-base mb-0">Ralph Edwards</h6>
                    <div class="text-muted fw-normal fs-sm">0765363828 | 0742213254</div>
                  </div>
                </div>
              </div>
              <div>
                <div class="text-muted fs-sm mt-1">5 min ago</div>
              </div>
            </div>
            <div class="section-second mb-3">
              <div class="list-group list-group-horizontal-sm">
                <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                   title="Items Count" data-bs-original-title="Items Count" aria-label="Items Count">
                  <div class="bg-dark rounded text-center p-2"><i
                    class="fi-list d-block h5 text-light mb-0 mx-center"></i>
                    <span class="fs-xs h4 text-light">5</span>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                   title="Total Price" data-bs-original-title="Total Price" aria-label="Total Price">
                  <div class="bg-dark rounded text-center p-2">
                    <i class="fi-cash d-block h5 text-light mb-0 mx-center"></i><span class="fs-xs h4 text-light">LKR 2500</span>
                  </div>
                </a>
                <a href="#item-list-3" data-bs-toggle="collapse" aria-expanded="false" aria-controls="item-list"
                   class="list-group-item list-group-item-action text-center">
                  <div class="bg-dark rounded text-center p-2">
                    <i class="fi-eye-on d-block h5 text-light mb-0 mx-center"></i>
                    <span class="fs-xs h4 text-light">view</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="collapse mb-3" id="item-list-3">
              <div class="card card-body">
                <!--Order detail card 1-->
                <div class="order-detail-card mb-3 border-bottom">
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <h3 class="h6 mb-2 fs-base">
                      <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#item-viewer">Item
                        Name</a></h3>
                    <span class="badge rounded-pill bg-info"> Item </span>
                  </div>
                  <div class="order-detail-card-ss mb-3">
                    <div class="list-group list-group-horizontal-sm">
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Quantity" data-bs-original-title="Quantity" aria-label="Quantity">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-archive d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">2</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Discount" data-bs-original-title="Discount" aria-label="Discount">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-precentage d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">LKR 20</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Price" data-bs-original-title="Price" aria-label="Price">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-cash d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">LKR 500</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <span class="fs-md text-primary ms-2"><i class="fi-checkbox-checked-alt"></i></span>
                    <div class="form-check form-check-dark">
                      <input class="form-check-input" type="checkbox" id="compare1">
                      <!-- <label class="form-check-label fs-sm" for="compare1">Compare</label> -->
                    </div>
                  </div>
                </div>
                <!--Order detail card 2-->
                <div class="order-detail-card mb-3 border-bottom">
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <h3 class="h6 mb-2 fs-base">
                      <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#item-viewer">Package
                        name</a></h3>
                    <span class="badge rounded-pill bg-success"> Package </span>
                  </div>
                  <div class="order-detail-card-ss mb-3">
                    <div class="list-group list-group-horizontal-sm">
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Quantity" data-bs-original-title="Quantity" aria-label="Quantity">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-archive d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">1</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Discount" data-bs-original-title="Discount" aria-label="Discount">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-precentage d-block h5 text-light mb-0 mx-center"></i><span
                          class="fs-xs h4 text-light">LKR 250</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Price" data-bs-original-title="Price" aria-label="Price">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-cash d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">LKR 2000</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <span class="fs-md text-primary ms-2"><i class="fi-checkbox-checked-alt"></i></span>
                    <div class="form-check form-check-dark">
                      <input class="form-check-input" type="checkbox" id="compare1">
                      <!-- <label class="form-check-label fs-sm" for="compare1">Compare</label> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <footer class="d-flex justify-content-between">
              <a href="#" class="btn btn-icon btn-light-primary btnhred btn-xs shadow-sm rounded-circle me-2 mb-2"
                 data-bs-toggle="tooltip" title="Cancel Order" data-bs-original-title="Cancel Order"
                 aria-label="Cancel Order">
                <i class="fi-x"></i>
              </a>
              <a href="#" class="btn btn-icon btn-light-primary btnhgreen btn-xs shadow-sm rounded-circle me-2 mb-2"
                 data-bs-toggle="tooltip" title="Order Completed" data-bs-original-title="Order Completed"
                 aria-label="Order Completed">
                <i class="fi-check"></i>
              </a>
              <a href="#" class="btn btn-icon btn-light-primary btnhblue btn-xs shadow-sm rounded-circle me-2 mb-2"
                 data-bs-toggle="tooltip" title="Order In Progress" data-bs-original-title="Order In Progress"
                 aria-label="Order In Progress">
                <i class="fi-arrow-long-right"></i>
              </a>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <!--In Progress Order tab-->
  <div class="tab-pane fade show" id="inprogress-order-tab" role="tabpanel">
    <div
      class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch justify-content-between pb-4 mb-2 mb-md-3">
      <h3 class="h4 mb-sm-0">
        <i class="fi-archive mt-n1 me-2 lead align-middle text-warning"></i>In Progress Orders</h3>
      <div class="d-flex align-items-center ms-sm-4">
        <label class="fs-sm me-2 pe-1 text-nowrap" for="review-sorting1"><i
          class="fi-arrows-sort text-muted mt-n1 me-2"></i>Sort by:</label>
        <select class="form-select form-select-sm" id="review-sorting1">
          <option>Newest</option>
          <option>Oldest</option>
          <option>Popular</option>
          <option>High rating</option>
          <option>Low rating</option>
        </select>
      </div>
    </div>
    <div class="row g-4 py-1">
      <!--In Progress Order-->
      <div class="col-md-6">
        <div class="card border-0 shadow-sm mb-2">
          <blockquote class="blockquote inprogress-card-micon card-body">
            <div class="d-flex justify-content-between mb-2">
              <div class="pe-3">
                <div class="d-flex align-items-center mb-2">
                  <img class="rounded-circle me-1" src="../../../../../assets/img/37.png" width="48" alt="Avatar">
                  <div class="ps-2">
                    <h6 class="fs-base mb-0">Ralph Edwards</h6>
                    <div class="text-muted fw-normal fs-sm">0765363828 | 0742213254</div>
                  </div>
                </div>
              </div>
              <div>
                <div class="text-muted fs-sm mt-1">5 min ago</div>
              </div>
            </div>
            <div class="section-second mb-3">
              <div class="list-group list-group-horizontal-sm">
                <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                   title="Items Count" data-bs-original-title="Items Count" aria-label="Items Count">
                  <div class="bg-dark rounded text-center p-2"><i
                    class="fi-list d-block h5 text-light mb-0 mx-center"></i>
                    <span class="fs-xs h4 text-light">5</span>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                   title="Total Price" data-bs-original-title="Total Price" aria-label="Total Price">
                  <div class="bg-dark rounded text-center p-2">
                    <i class="fi-cash d-block h5 text-light mb-0 mx-center"></i><span class="fs-xs h4 text-light">LKR 2500</span>
                  </div>
                </a>
                <a href="#item-list-ip1" data-bs-toggle="collapse" aria-expanded="false" aria-controls="item-list-ip1"
                   class="list-group-item list-group-item-action text-center">
                  <div class="bg-dark rounded text-center p-2">
                    <i class="fi-eye-on d-block h5 text-light mb-0 mx-center"></i>
                    <span class="fs-xs h4 text-light">view</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="collapse mb-3" id="item-list-ip1">
              <div class="card card-body">
                <!--Order detail card 1-->
                <div class="order-detail-card mb-3 border-bottom">
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <h3 class="h6 mb-2 fs-base">
                      <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#item-viewer">Item
                        Name</a></h3>
                    <span class="badge rounded-pill bg-info"> Item </span>
                  </div>
                  <div class="order-detail-card-ss mb-3">
                    <div class="list-group list-group-horizontal-sm">
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Quantity" data-bs-original-title="Quantity" aria-label="Quantity">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-archive d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">2</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Discount" data-bs-original-title="Discount" aria-label="Discount">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-precentage d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">LKR 20</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Price" data-bs-original-title="Price" aria-label="Price">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-cash d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">LKR 500</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <span class="fs-md text-primary ms-2"><i class="fi-checkbox-checked-alt"></i></span>
                    <div class="form-check form-check-dark">
                      <input class="form-check-input" type="checkbox" id="compare1">
                      <!-- <label class="form-check-label fs-sm" for="compare1">Compare</label> -->
                    </div>
                  </div>
                </div>
                <!--Order detail card 2-->
                <div class="order-detail-card mb-3 border-bottom">
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <h3 class="h6 mb-2 fs-base">
                      <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#item-viewer">Package
                        name</a></h3>
                    <span class="badge rounded-pill bg-success"> Package </span>
                  </div>
                  <div class="order-detail-card-ss mb-3">
                    <div class="list-group list-group-horizontal-sm">
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Quantity" data-bs-original-title="Quantity" aria-label="Quantity">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-archive d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">1</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Discount" data-bs-original-title="Discount" aria-label="Discount">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-precentage d-block h5 text-light mb-0 mx-center"></i><span
                          class="fs-xs h4 text-light">LKR 250</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Price" data-bs-original-title="Price" aria-label="Price">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-cash d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">LKR 2000</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <span class="fs-md text-primary ms-2"><i class="fi-checkbox-checked-alt"></i></span>
                    <div class="form-check form-check-dark">
                      <input class="form-check-input" type="checkbox" id="compare1">
                      <!-- <label class="form-check-label fs-sm" for="compare1">Compare</label> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <footer class="d-flex justify-content-between">
              <a href="#" class="btn btn-icon btn-light-primary btnhred btn-xs shadow-sm rounded-circle me-2 mb-2"
                 data-bs-toggle="tooltip" title="Cancel Order" data-bs-original-title="Cancel Order"
                 aria-label="Cancel Order">
                <i class="fi-x"></i>
              </a>
              <a href="#" class="btn btn-icon btn-light-primary btnhyellow btn-xs shadow-sm rounded-circle me-2 mb-2"
                 data-bs-toggle="tooltip" title="Pending Order" data-bs-original-title="Pending Order"
                 aria-label="Pending Order">
                <i class="fi-arrow-long-left"></i>
              </a>
              <a href="#" class="btn btn-icon btn-light-primary btnhgreen btn-xs shadow-sm rounded-circle me-2 mb-2"
                 data-bs-toggle="tooltip" title="Order Completed" data-bs-original-title="Order Completed"
                 aria-label="Order Completed">
                <i class="fi-check"></i>
              </a>

            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <!--Ready Order tab-->
  <div class="tab-pane fade" id="complete-order-tab" role="tabpanel">
    <div
      class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch justify-content-between pb-4 mb-2 mb-md-3">
      <h3 class="h4 mb-sm-0">
        <i class="fi-archive mt-n1 me-2 lead align-middle text-warning"></i>Completed Orders</h3>
      <div class="d-flex align-items-center ms-sm-4">
        <label class="fs-sm me-2 pe-1 text-nowrap" for="review-sorting1"><i
          class="fi-arrows-sort text-muted mt-n1 me-2"></i>Sort by:</label>
        <select class="form-select form-select-sm" id="review-sorting1">
          <option>Newest</option>
          <option>Oldest</option>
          <option>Popular</option>
          <option>High rating</option>
          <option>Low rating</option>
        </select>
      </div>
    </div>

    <div class="row g-4 py-1">
      <div class="col-md-6">
        <div class="card border-0 shadow-sm mb-2">
          <blockquote class="blockquote complete-card-micon card-body">
            <div class="d-flex justify-content-between mb-2">
              <div class="pe-3">
                <div class="d-flex align-items-center mb-2">
                  <img class="rounded-circle me-1" src="../../../../../assets/img/37.png" width="48" alt="Avatar">
                  <div class="ps-2">
                    <h6 class="fs-base mb-0">Ralph Edwards</h6>
                    <div class="text-muted fw-normal fs-sm">0765363828 | 0742213254</div>
                  </div>
                </div>
              </div>
              <div>
                <div class="text-muted fs-sm mt-1">5 min ago</div>
              </div>
            </div>
            <div class="section-second mb-3">
              <div class="list-group list-group-horizontal-sm">
                <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                   title="Items Count" data-bs-original-title="Items Count" aria-label="Items Count">
                  <div class="bg-dark rounded text-center p-2"><i
                    class="fi-list d-block h5 text-light mb-0 mx-center"></i>
                    <span class="fs-xs h4 text-light">5</span>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                   title="Total Price" data-bs-original-title="Total Price" aria-label="Total Price">
                  <div class="bg-dark rounded text-center p-2">
                    <i class="fi-cash d-block h5 text-light mb-0 mx-center"></i><span class="fs-xs h4 text-light">LKR 2500</span>
                  </div>
                </a>
                <a href="#item-list-c1" data-bs-toggle="collapse" aria-expanded="false" aria-controls="item-list-c1"
                   class="list-group-item list-group-item-action text-center">
                  <div class="bg-dark rounded text-center p-2">
                    <i class="fi-eye-on d-block h5 text-light mb-0 mx-center"></i>
                    <span class="fs-xs h4 text-light">view</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="collapse mb-3" id="item-list-c1">
              <div class="card card-body">
                <!--Order detail card 1-->
                <div class="order-detail-card mb-3 border-bottom">
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <h3 class="h6 mb-2 fs-base">
                      <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#item-viewer">Item
                        Name</a></h3>
                    <span class="badge rounded-pill bg-info"> Item </span>
                  </div>
                  <div class="order-detail-card-ss mb-3">
                    <div class="list-group list-group-horizontal-sm">
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Quantity" data-bs-original-title="Quantity" aria-label="Quantity">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-archive d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">2</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Discount" data-bs-original-title="Discount" aria-label="Discount">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-precentage d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">LKR 20</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Price" data-bs-original-title="Price" aria-label="Price">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-cash d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">LKR 500</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <span class="fs-md text-primary ms-2"><i class="fi-checkbox-checked-alt"></i></span>
                    <div class="form-check form-check-dark">
                      <input class="form-check-input" type="checkbox" id="compare1">
                      <!-- <label class="form-check-label fs-sm" for="compare1">Compare</label> -->
                    </div>
                  </div>
                </div>
                <!--Order detail card 2-->
                <div class="order-detail-card mb-3 border-bottom">
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <h3 class="h6 mb-2 fs-base">
                      <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#item-viewer">Package
                        name</a></h3>
                    <span class="badge rounded-pill bg-success"> Package </span>
                  </div>
                  <div class="order-detail-card-ss mb-3">
                    <div class="list-group list-group-horizontal-sm">
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Quantity" data-bs-original-title="Quantity" aria-label="Quantity">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-archive d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">1</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Discount" data-bs-original-title="Discount" aria-label="Discount">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-precentage d-block h5 text-light mb-0 mx-center"></i><span
                          class="fs-xs h4 text-light">LKR 250</span>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action text-center" data-bs-toggle="tooltip"
                         title="Price" data-bs-original-title="Price" aria-label="Price">
                        <div class="bg-dark rounded text-center p-2">
                          <i class="fi-cash d-block h5 text-light mb-0 mx-center"></i>
                          <span class="fs-xs h4 text-light">LKR 2000</span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between pb-1">
                    <span class="fs-md text-primary ms-2"><i class="fi-checkbox-checked-alt"></i></span>
                    <div class="form-check form-check-dark">
                      <input class="form-check-input" type="checkbox" id="compare1">
                      <!-- <label class="form-check-label fs-sm" for="compare1">Compare</label> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <footer class="d-flex justify-content-between">
              <a href="#" class="btn btn-icon btn-light-primary btnhred btn-xs shadow-sm rounded-circle me-2 mb-2"
                 data-bs-toggle="tooltip" title="Cancel Order" data-bs-original-title="Cancel Order"
                 aria-label="Cancel Order">
                <i class="fi-x"></i>
              </a>
              <a href="#" class="btn btn-icon btn-light-primary btnhyellow btn-xs shadow-sm rounded-circle me-2 mb-2"
                 data-bs-toggle="tooltip" title="Pending Order" data-bs-original-title="Pending Order"
                 aria-label="Pending Order">
                <i class="fi-chevrons-left"></i>
              </a>
              <a href="#" class="btn btn-icon btn-light-primary btnhblue btn-xs shadow-sm rounded-circle me-2 mb-2"
                 data-bs-toggle="tooltip" title="Order In Progress" data-bs-original-title="Order In Progress"
                 aria-label="Order In Progress">
                <i class="fi-arrow-long-left"></i>
              </a>

            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

</div>

