<!--Header-->
<header
  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
  data-scroll-header=""
  style=""
  *ngIf="getUser()===null"
>
  <div class="container">
    <a class="navbar-brand me-3 me-xl-4" href="real-estate-home.html"
    ><img
      class="d-block"
      src="https://finder.createx.studio/img/logo/logo-light.svg"
      width="116"
      alt="Finder"
    /></a>
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--<a-->
    <!--class="btn btn-sm text-primary d-none d-lg-block order-lg-3"-->
    <!--[routerLink]="''"-->
    <!--data-bs-toggle="modal"-->
    <!--&gt;<i class="fi-user me-2"></i>Sign in</a-->
    <!--&gt;-->
    <div *ngIf="getCurUrl()!=='/login'" class="btn-group dropdown ms-2 order-lg-3" role="group">
      <button type="button" class="btn btn-primary btn-sm rounded-pill" style="font-size: 15px"
              [routerLink]="'/login'">
        <i class="fas fa-user me-2"></i>
        Sign In
      </button>
    </div>
    <div
      *ngIf="getCurUrl()!=='/login' && getCurUrl()!=='/customer/customer_register' && getCurUrl()!=='/shop/business_register'"
      class="btn-group dropdown ms-2 order-lg-3" role="group">
      <button type="button" class="btn btn-primary btn-sm rounded-pill dropdown-toggle" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-plus me-2"></i>
        Sign Up
      </button>
      <div class="dropdown-menu">
        <a [routerLink]="'/customer/customer_register'" class="dropdown-item">As a customer</a>
        <a [routerLink]="'/shop/business_register'" class="dropdown-item">As a business</a>
      </div>
    </div>
    <a *ngIf="getCurUrl()!=='/customer/header/item_shop_search'"
       class="btn btn-primary btn-sm ms-2 order-lg-3"
       [routerLink]="''">
      <i class="fi-home me-2"></i>Home
    </a>

    <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
      <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem">
        <li class="nav-item d-lg-none">
          <a class="nav-link" data-bs-toggle="modal"
          ><i class="fas fa-user me-2"></i>Sign in</a
          >
        </li>
      </ul>
      <!--<button [routerLink]="'/customer'">Login</button>-->
    </div>
  </div>
</header>

<header
  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
  data-scroll-header=""
  *ngIf="getUser()!==null"
>
  <div class="container">
    <a class="navbar-brand me-3 me-xl-4" href="real-estate-home.html"
    ><img
      class="d-block"
      src="https://finder.createx.studio/img/logo/logo-light.svg"
      width="116"
      alt="Finder"
    /></a>
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="dropdown order-lg-3">
      <a href="#" class="d-inline-block py-1" data-bs-toggle="dropdown">
        <img class="rounded-circle" src="../../../../../assets/img/37.png" width="40" alt="User">
      </a>
      <div class="dropdown-menu dropdown-menu-end">
        <div class="d-flex align-items-start border-bottom px-3 py-1 mb-2" style="width: 16rem;">
          <img class="rounded-circle" src="../../../../../assets/img/37.png" width="48" alt="User">
          <div class="ps-2" *ngIf="getUser().role==='C'">
            <h6 class="fs-base mb-0">
              {{getUser().customerProfile.firstName+' '+getUser().customerProfile.lastName}}
            </h6>
            <!--<div class="fs-xs py-2">(302) 555-0107<br>{{getUser().email}}</div>-->
          </div>
          <div class="ps-2" *ngIf="getUser().role==='B'">
            <h6 class="fs-base mb-0">
              {{getUser().businessProfile.businessName}}
            </h6>
            <!--<div class="fs-xs py-2">(302) 555-0107<br>{{getUser().email}}</div>-->
          </div>
        </div>
        <a *ngIf="getUser().role==='C'" [routerLink]="'/customer/header/customer_account/customer_profile'"
           class="dropdown-item">
          <i class="fi-user opacity-60 me-2"></i>
          Account
        </a>
        <a *ngIf="getUser().role==='C'" [routerLink]="'/customer/header/item_shop_search'" class="dropdown-item">
          <i class="fi-home opacity-60 me-2"></i>
          Home
        </a>
        <a *ngIf="getUser().role==='C'" class="dropdown-item"
           data-bs-toggle="offcanvas" data-bs-target="#cart-viewer">
          <i class="fi-cart opacity-60 me-2"></i>
          Cart
        </a>
        <a *ngIf="getUser().role==='B'" [routerLink]="'/shop/header/business_account/ba_monitor'" class="dropdown-item">
          <i class="fi-user opacity-60 me-2"></i>
          Account
        </a>
        <a *ngIf="getUser().role==='B'" (click)="routeToShop()" class="dropdown-item">
          <i class="fi-user opacity-60 me-2"></i>
          My Profile
        </a>
        <!-- <a href="#" class="dropdown-item">
          <i class="fi-lock opacity-60 me-2"></i>
          Password & Security
        </a>
        <a href="#" class="dropdown-item">
          <i class="fi-list opacity-60 me-2"></i>
          My Listings
        </a>
        <a href="#" class="dropdown-item">
          <i class="fi-heart opacity-60 me-2"></i>
          Wishlist
        </a>
        <a href="#" class="dropdown-item">
          <i class="fi-star opacity-60 me-2"></i>
          Reviews
        </a>
        <a href="#" class="dropdown-item">
          <i class="fi-bell opacity-60 me-2"></i>
          Notifications
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">Help</a> -->
        <div class="dropdown-divider"></div>
        <a (click)="signOut()" class="dropdown-item">Sign Out</a>
      </div>
    </div>
  </div>
</header>

<!--<router-outlet></router-outlet>-->
