<div style="margin-bottom: 15px;font-weight: bold">Order | {{itemOrder.orderId}}</div>
<div class="d-flex justify-content-between mb-2">
  <div class="pe-3">
    <div class="d-flex align-items-center mb-2">
      <img class="rounded-circle me-1" src="../../../../../assets/img/37.png" width="48" alt="Avatar">
      <div class="ps-2">
        <h6 class="fs-base mb-0">
          {{itemOrder.customerProfile.firstName+' '+itemOrder.customerProfile.lastName}}</h6>
        <div class="text-muted fw-normal fs-sm">0765363828 | 0742213254</div>
        <div class="text-muted fw-normal fs-sm">{{itemOrder.orderDate}}</div>
      </div>
    </div>
  </div>
  <div>
    <div class="text-muted fs-sm mt-1">5 min ago</div>
  </div>
</div>
<div class="section-second mb-3">
  <div class="row cols-md-4 col-info" style="padding-top: 10px">
    <div class="col-4">
      <div style="background-color: rgba(229,154,3,0.35)">
        <div class="mb-2 fs-sm fw-bold" style="color: #704900">Quantity</div>
        <div class="fs-sm fw-bold" style="color: #925f00">{{itemOrder.qty}}</div>
      </div>
    </div>

    <div class="col-6">
      <div style="background-color: rgba(229,101,2,0.35)">
        <div class="mb-2 fs-sm fw-bold" style="color: #703f02">Total Price</div>
        <div class="fs-sm fw-bold" style="color: #945302">{{'LKR ' + itemOrder.amount}}</div>
      </div>
    </div>
    <div class="col-2" style="display: grid;align-content: center;justify-content: center">
      <a
        class="btnView btn  btn-icon border-end-0 border-top-0 border-bottom-0 border-light fs-sm"
        type="button" data-bs-toggle="collapse" style="background-color: #e9ad2d;color: white"
        aria-expanded="true"
        href="#item-list{{orderIndex}}">
        <i class="fi-eye-on"></i>
      </a>
    </div>
  </div>
</div>
<div class="collapse mb-3" id="item-list{{orderIndex}}">
  <div class="card card-body" style="border-width: 0px">
    <!--Order detail card 1-->
    <div class="order-detail-card mb-3"
         style="border: 1px solid #c0c0c0;border-radius: 10px;padding: 15px;margin-bottom: 15px"
         *ngFor="let orderDetail of itemOrder.orderDetails;let last = last">
      <div class="d-flex align-items-center justify-content-between pb-1">
        <h3 class="h6 fs-base" style="margin-bottom: 0px">
          <a class="nav-link" data-bs-toggle="offcanvas"
             (click)="orderDetail.orderDetailType==='Item'?getItemSelected(orderDetail.item):''"
             [attr.data-bs-target]="orderDetail.orderDetailType==='Item'?'#item-viewer-g':orderDetail.orderDetailType==='ItemPackage'?'#item-detail-viewer-g':''">
            {{orderDetail.orderDetailType==='Item'?orderDetail.item.name:orderDetail.orderDetailType==='ItemPackage'?orderDetail.itemPackage.name:''}}
          </a>
        </h3>
        <span *ngIf="orderDetail.orderDetailType==='Item'" class="badge rounded-pill bg-info"> Item </span>
        <span *ngIf="orderDetail.orderDetailType==='ItemPackage'" class="badge rounded-pill bg-success"> Package </span>
      </div>
      <div class="row cols-sm-2 row-cols-md-12"
           style="margin-top: 10px;margin-bottom: 10px">
        <div class="col" style="padding: 0px">
          <div style="border-right: 1px solid #d3d3d3">
            <p class="mb-1 fs-sm"
               style="margin-top: 7px;color: #b94701;font-weight: bold;text-align: center">
              Quantity </p>
            <p class="mb-2 fs-sm text-primary fw-bold mx-2" style="text-align: center">
              {{orderDetail.quantity}}</p>
          </div>
        </div>
        <div class="col" style="padding: 0px">
          <p class="mb-1 fs-sm" style="margin-top: 7px;color: #b94701;font-weight: bold;text-align: center">
            Total Price </p>
          <p class="mb-2 fs-sm text-primary fw-bold" style="text-align: center">
            LKR {{orderDetail.price * orderDetail.quantity}}
          </p>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between pb-1">
        <span class="fs-md text-primary ms-2">
          <!--<i class="fi-checkbox-checked-alt"></i>-->
        </span>
        <div *ngIf="orderDetail.status==='In Progress'" class="form-check form-check-dark"
             style="margin-bottom: 0px;display: flex">
          <div style="font-weight: bold;margin-right: 30px;font-size: 14px">Accept</div>
          <div>
            <input class="form-check-input" type="checkbox" id="compare1"
                   [checked]="orderDetail.available"
                   (click)="acceptItem(orderDetail.orderDetailId)">
          </div>
          <!-- <label class="form-check-label fs-sm" for="compare1">Compare</label> -->
        </div>
      </div>
    </div>

  </div>
</div>
