<h1 class="h2">Monitor</h1>
<div class="mb-2 pt-1">Monitor your shop</div>
<div class="border-bottom mb-4"></div>
<div class="row mt-3">
  <!-- Primary card -->
  <div class="col-md-6 col-lg-4 mt-3">
    <div class="card bg-secondary card-hover h-100">
      <div class="card-body">
        <h3 class="h6 card-title mb-2">
          <a class="text-nav stretched-link text-decoration-none" href="job-board-single.html">
            Followers</a></h3>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-between border-0 pt-0">
        <div class="fs-sm"><span class="text-nowrap me-3"><i
          class="fi-map-pin text-muted me-1"> </i>New York</span><span class="text-nowrap me-3"><i
          class="fi-cash fs-base text-muted me-1"></i>$7,500</span></div>
        <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle shadow-sm content-overlay"
                type="button" data-bs-toggle="tooltip" title="" data-bs-original-title="Number of followers you have"
                aria-label="About this"><i class="fi-help"></i></button>
      </div>
    </div>
  </div>
  <!-- Primary card -->
  <div class="col-md-6 col-lg-4 mt-3">
    <div class="card bg-secondary card-hover h-100">
      <div class="card-body">
        <h3 class="h6 card-title mb-2">
          <a class="text-nav stretched-link text-decoration-none" href="job-board-single.html">
            Profile visitors</a></h3>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-between border-0 pt-0">
        <div class="fs-sm"><span class="text-nowrap me-3"><i
          class="fi-map-pin text-muted me-1"> </i>New York</span><span class="text-nowrap me-3"><i
          class="fi-cash fs-base text-muted me-1"></i>$7,500</span></div>
        <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle shadow-sm content-overlay"
                type="button" data-bs-toggle="tooltip" title="Profile Views count"
                data-bs-original-title="Profile Views count" aria-label="About this"><i class="fi-help"></i></button>
      </div>
    </div>
  </div>
  <!-- Primary card -->
  <div class="col-md-6 col-lg-4 mt-3">
    <div class="card bg-secondary card-hover h-100">
      <div class="card-body">
        <h3 class="h6 card-title mb-2">
          <a class="text-nav stretched-link text-decoration-none" href="job-board-single.html">
            Contact Details Views</a></h3>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-between border-0 pt-0">
        <div class="fs-sm"><span class="text-nowrap me-3"><i
          class="fi-map-pin text-muted me-1"> </i>New York</span><span class="text-nowrap me-3"><i
          class="fi-cash fs-base text-muted me-1"></i>$7,500</span></div>
        <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle shadow-sm content-overlay"
                type="button" data-bs-toggle="tooltip" title="How many customers see business contact details"
                data-bs-original-title="How many customers see business contact details"
                aria-label="How many customers see business contact details"><i class="fi-help"></i></button>
      </div>
    </div>
  </div>
  <!-- Primary card -->
  <div class="col-md-6 col-lg-4 mt-3">
    <div class="card bg-secondary card-hover h-100">
      <div class="card-body">
        <h3 class="h6 card-title mb-2"><a class="text-nav stretched-link text-decoration-none"
                                          href="job-board-single.html">
          Package Count</a></h3>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-between border-0 pt-0">
        <div class="fs-sm"><span class="text-nowrap me-3"><i
          class="fi-map-pin text-muted me-1"> </i>New York</span><span class="text-nowrap me-3"><i
          class="fi-cash fs-base text-muted me-1"></i>$7,500</span></div>
        <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle shadow-sm content-overlay"
                type="button" data-bs-toggle="tooltip" title="Number of packages that you have created for your shop"
                data-bs-original-title="Number of packages that you have created for your shop"
                aria-label="Number of packages that you have created for your shop"><i class="fi-help"></i></button>
      </div>
    </div>
  </div>
  <!-- Primary card -->
  <div class="col-md-6 col-lg-4 mt-3">
    <div class="card bg-secondary card-hover h-100">
      <div class="card-body">
        <h3 class="h6 card-title mb-2">
          <a class="text-nav stretched-link text-decoration-none" href="job-board-single.html">Category Count</a></h3>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-between border-0 pt-0">
        <div class="fs-sm"><span class="text-nowrap me-3"><i
          class="fi-map-pin text-muted me-1"> </i>New York</span><span class="text-nowrap me-3"><i
          class="fi-cash fs-base text-muted me-1"></i>$7,500</span></div>
        <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle shadow-sm content-overlay"
                type="button" data-bs-toggle="tooltip" title="How many categories available in your shop"
                data-bs-original-title="How many categories available in your shop"
                aria-label="How many categories available in your shop"><i class="fi-help"></i></button>
      </div>
    </div>
  </div>
  <!-- Primary card -->
  <div class="col-md-6 col-lg-4 mt-3">
    <div class="card bg-secondary card-hover h-100">
      <div class="card-body">
        <h3 class="h6 card-title mb-2">
          <a class="text-nav stretched-link text-decoration-none" href="job-board-single.html">Item Count</a></h3>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-between border-0 pt-0">
        <div class="fs-sm"><span class="text-nowrap me-3"><i
          class="fi-map-pin text-muted me-1"> </i>New York</span><span class="text-nowrap me-3"><i
          class="fi-cash fs-base text-muted me-1"></i>$7,500</span></div>
        <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle shadow-sm content-overlay"
                type="button" data-bs-toggle="tooltip" title="How many items in your shop"
                data-bs-original-title="How many items in your shop" aria-label="How many items in your shop"><i
          class="fi-help"></i></button>
      </div>
    </div>
  </div>
  <!-- Primary card -->
  <div class="col-md-6 col-lg-4 mt-3">
    <div class="card bg-secondary card-hover h-100">
      <div class="card-body">
        <h3 class="h6 card-title mb-2"><a class="text-nav stretched-link text-decoration-none"
                                          href="job-board-single.html">
          Pending Orders</a></h3>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-between border-0 pt-0">
        <div class="fs-sm"><span class="text-nowrap me-3"><i
          class="fi-map-pin text-muted me-1"> </i>New York</span><span class="text-nowrap me-3"><i
          class="fi-cash fs-base text-muted me-1"></i>$7,500</span></div>
        <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle shadow-sm content-overlay"
                type="button" data-bs-toggle="tooltip" title="How many Pending orders available"
                data-bs-original-title="How many Pending orders available"
                aria-label="How many Pending orders available"><i class="fi-help"></i></button>
      </div>
    </div>
  </div>
  <!-- Primary card -->
  <div class="col-md-6 col-lg-4 mt-3">
    <div class="card bg-secondary card-hover h-100">
      <div class="card-body">
        <h3 class="h6 card-title mb-2">
          <a class="text-nav stretched-link text-decoration-none" href="job-board-single.html">
            Completed Orders</a></h3>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-between border-0 pt-0">
        <div class="fs-sm"><span class="text-nowrap me-3"><i
          class="fi-map-pin text-muted me-1"> </i>New York</span><span class="text-nowrap me-3"><i
          class="fi-cash fs-base text-muted me-1"></i>$7,500</span></div>
        <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle shadow-sm content-overlay"
                type="button" data-bs-toggle="tooltip" title="Number of Completed orders"
                data-bs-original-title="Number of Completed orders" aria-label="Number of Completed orders"><i
          class="fi-help"></i></button>
      </div>
    </div>
  </div>
  <!-- Primary card -->
  <div class="col-md-6 col-lg-4 mt-3">
    <div class="card bg-secondary card-hover h-100">
      <div class="card-body">
        <h3 class="h6 card-title mb-2">
          <a class="text-nav stretched-link text-decoration-none" href="job-board-single.html">
            Item Count</a></h3>
      </div>
      <div class="card-footer d-flex align-items-center justify-content-between border-0 pt-0">
        <div class="fs-sm"><span class="text-nowrap me-3"><i
          class="fi-map-pin text-muted me-1"> </i>New York</span><span class="text-nowrap me-3"><i
          class="fi-cash fs-base text-muted me-1"></i>$7,500</span></div>
        <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle shadow-sm content-overlay"
                type="button" data-bs-toggle="tooltip" title="" data-bs-original-title="Remove from saved jobs"
                aria-label="Remove from saved jobs"><i class="fi-help"></i></button>
      </div>
    </div>
  </div>

</div>
