<div class="bg-light rounded-3 py-4 px-md-4 mb-3">
  <div class="steps pt-4 pb-1">
    <div class="step active">
      <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">1</span></div>
      <div class="step-label">User Info</div>
    </div>
    <div class="step active">
      <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">2</span></div>
      <div class="step-label">Business Info</div>
    </div>
    <div class="step active">
      <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">3</span></div>
      <div class="step-label">Ownership</div>
    </div>
    <div class="step">
      <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">4</span></div>
      <div class="step-label">Service & Socials</div>
    </div>
    <div class="step">
      <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">5</span></div>
      <div class="step-label">Verification</div>
    </div>
    <div class="step">
      <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">6</span></div>
      <div class="step-label">Confirmation</div>
    </div>
  </div>
</div>
<!-- Step 3: Ownership-->
<div class="bg-light rounded-3 p-4 p-md-5 mb-3">
  <h2 class="h4 mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i>Ownership</h2>
  <div class="row">
    <div class="col-sm-6 mb-4">
      <label class="form-label" for="biz-ownername">Business owner name <span class='text-danger'>*</span></label>
      <input class="form-control form-control-lg" type="text" id="biz-ownername" value="" placeholder="Enter business owner name" required>
    </div>
    <div class="col-sm-6 mb-4">
      <label class="form-label" for="biz-ownernic">Business owner nic <span class='text-danger'>*</span></label>
      <input class="form-control form-control-lg" type="text" id="biz-ownernic" value="" placeholder="Enter business owner's NIC" required>
    </div>

  </div>

</div>
